doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
      block title
    link(rel='preload', href='../css/vendor.css', as='style', onload="this.rel='stylesheet'")
    link(rel='preload', href='../css/main.css', as='style', onload="this.rel='stylesheet'")
  body
    .wrapper
      include ../_common/special-header.jade
      .main
        .container
          main.owner-admin
            .owner-admin__breadcrumbs
              ul.breadcrumbs
                li.breadcrumbs__item
                  a.breadcrumbs__link(href='#') Главная
                li.breadcrumbs__item
                  a.breadcrumbs__link(href='#') Кафе и рестораны Волгограда
                li.breadcrumbs__item
                  a.breadcrumbs__link(href='#') Ресторан Волгоград
            .owner-admin__header.admin-descr
              .admin-descr__head Администрирование страницы
                a.admin-descr__exit(href='#') Завершить
              .admin-descr__body
                .admin-descr__type Кафе, ресторан, бар, хинкальная
                .admin-descr__actions
                  a.button.button_second.button_watch.admin-descr__user(href='#') Настройки
                .admin-descr__title Pasta Uno
                .admin-descr__rating
                  .admin-descr__rating-stars
                    span.rating(data-rateit-readonly='true', data-rateit-value='4.5')
                  .admin-descr__rating-text №13 из 289 в категории Кафе и рестораны Волгограда
            .owner-admin__body
              .owner-admin__tabs
                ul.tabs
                  li.tabs__item
                    a.tabs__link.tabs__link_admin.tabs__link_active(href='activity.html') Активность
                  li.tabs__item
                    a.tabs__link.tabs__link_admin(href='reviews.html') Отзывы 
                  li.tabs__item
                    a.tabs__link.tabs__link_admin(href='photos.html') Фотографии 
                  li.tabs__item
                    a.tabs__link.tabs__link_admin(href='events.html') События 
                  li.tabs__item
                    a.tabs__link.tabs__link_admin(href='shares.html') Акции 
                  li.tabs__item
                    a.tabs__link.tabs__link_admin(href='subscribers.html') Подписчики
              block content
            aside.owner-admin__sidebar.admin-sidebar
              span.admin-sidebar__title PRO-аккаунт на 1 год
              p.admin-sidebar__descr Добавляйте события и акции, управляйте фотографиями
              span.admin-sidebar__soon Скоро!
      include ../_common/footer.jade
    script(src='../js/vendor/loadCSS.js', async)
    script(src='../js/vendor/loadCSS.polyfill.js', async)
    script(src='../js/vendor/jquery.min.js')
    script(src='../js/vendor/jquery.rateit.min.js', async)
    script(src='../js/vendor/jquery.selectric.min.js', async)
    script(src='../js/vendor/jquery.mCustomScrollbar.concat.min.js', async)
    script(src='../js/vendor/datepicker.min.js', async)
    script(src='../js/main.js', async)