doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
      block title
    link(rel='preload', href='../css/vendor.css', as='style', onload="this.rel='stylesheet'")
    link(rel='preload', href='../css/main.css', as='style', onload="this.rel='stylesheet'")
  body
    .wrapper
      include ../_common/special-header.jade
      .main
        .container
          main.place-page
            .place-page__breadcrumbs
              ul.breadcrumbs
                li.breadcrumbs__item
                  a.breadcrumbs__link Главная
                li.breadcrumbs__item
                  a.breadcrumbs__link Кафе и рестораны Волгограда
                li.breadcrumbs__item
                  a.breadcrumbs__link Ресторан Волгоград
            .place-page__header.place-descr
              .place-descr__head.clearfix
                span.place-descr__tags Кафе, ресторан, бар, хинкальная
                .place-descr__subscription
                  //- ul.place-descr__subs.clearfix
                  //-   - for (var i = 0; i < 6; i++)
                  //-     li.place-descr__sub
                  //-       a.place-descr__sub-link
                  .place-descr__subscribe
                    .sticker-button
                      button.button.button_subscr.button_check.sticker-button__button(disabled) Я подписан
                      span.sticker 667
              h1.place-descr__name Ресторан «Онегин»
              .place-descr__rating
                span.place-descr__rating-stars.rating(data-rateit-readonly='true', data-rateit-value='3.5')
                span.place-descr__rating-text №13 из 289 в категории Кафе и рестораны Волгограда
              .place-descr__menu.clearfix
                ul.place-descr__tabs.tabs
                  li.tabs__item
                    a.tabs__link.tabs__link_active(href='overview.html') Обзор
                  li.tabs__item
                    a.tabs__link(href='reviews.html') Отзывы 
                      span.tabs__number 118
                  li.tabs__item
                    a.tabs__link(href='photos.html') Фотографии 
                      span.tabs__number 34
                  li.tabs__item
                    a.tabs__link(href='events.html') События 
                      span.tabs__number 1
                  li.tabs__item
                    a.tabs__link(href='sales.html') Акции 
                      span.tabs__number 8
                .place-descr__actions
                  .place-descr__favs
                    button.button.button_second В закладки
                  .place-descr__review
                    button.button.button_first Оставить отзыв
            block content
            aside.place-page__sidebar
              block sidebar
              .place-page__contacts.place-contacts
                .place-contacts__map#map
                .place-contacts__body
                  .place-contacts__main
                    .place-contacts__name Ресторан Волгоград
                    p.place-contacts__address Пр-т им. В.И. Ленина, 59, Волгоград, Волгоградская обл.
                  .place-contacts__schedule Пт-сб 08:00-24:00 
                    a.place-contacts__schedule-link Все расписание
                  .place-contacts__phone +7 988 025 14 61
                  .place-contacts__site 
                    a.place-contacts__site-link datasite.ru
                a.place-contacts__owners Для владельцев
                a.place-contacts__fix(data-modal='modal-error') Исправить неточность
              .place-page__city-events
                include ../organisms/city-events
              .place-page__blog
                include ../organisms/blog
              .place-page__discussions
                include ../organisms/discussions
            .modal#modal(data-id='modal-error')
              .modal__window
                .modal__head.clearfix
                  span.modal__title Неточность в описании
                  .modal__close#modal-close
                .modal__body
                  .modal__ta.ta-box
                    label.ta-box__label Что нужно исправить
                    textarea.textarea.ta-box__ta(placeholder='Ваш текст')
                .modal__foot.clearfix
                  .modal__actions
                    button.modal__subaction#modal-sub Отмена
                    button.button.button_first.modal__main-action Отправить
      include ../_common/footer.jade
    script(src='../js/vendor/loadCSS.js', async)
    script(src='../js/vendor/loadCSS.polyfill.js', async)
    script(src='../js/vendor/jquery.min.js', async)
    script(src='../js/vendor/jquery.rateit.min.js', async)
    script(src='../js/vendor/jquery.selectric.min.js', async)
    script(src='../js/vendor/jquery.mCustomScrollbar.concat.min', async)
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', async)
    script(src='../js/main.js', async)