doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
      block title
    link(rel='stylesheet' href='css/vendor.css')
    block styleLinks
  body
    block content
    script(src='js/vendor/loadCSS.js')
    script(src='js/vendor/loadCSS.polyfill.js')
    script(src='js/vendor/jquery.min.js')
    script(src='js/vendor/jquery.rateit.min.js')
    script(src='js/vendor/jquery.selectric.min.js')
    script(src='js/vendor/jquery.mCustomScrollbar.concat.min.js')
    script(src='js/main.js')