doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
      block title
    link(rel='preload', href='../css/vendor.css', as='style', onload="this.rel='stylesheet'")
    link(rel='preload', href='../css/main.css', as='style', onload="this.rel='stylesheet'")
  body
    .wrapper
      include ../_common/special-header.jade
      .main
        .container
          main.user-edit
            .user-edit__breadcrumbs
              ul.breadcrumbs
                li.breadcrumbs__item
                  a.breadcrumbs__link Главная
                li.breadcrumbs__item
                  a.breadcrumbs__link Редактирование профиля
            .user-edit__main
              block content
            aside.user-edit__sidebar.ue-menu
              ul.ue-menu__list
                li.ue-menu__item
                  a.ue-menu__link(href='profile.html') Основная информация
                li.ue-menu__item
                  a.ue-menu__link(href='password.html') Безопасность
      include ../_common/footer.jade
    script(src='../js/vendor/loadCSS.js', async)
    script(src='../js/vendor/loadCSS.polyfill.js', async)
    script(src='../js/vendor/jquery.min.js', async)
    script(src='../js/vendor/jquery.rateit.min.js', async)
    script(src='../js/vendor/jquery.selectric.min.js', async)
    script(src='../js/main.js', async)