@import 'common/molecules.less';

body {
  background-color: @background-color;
}

h2 {
  font-family: @font;
  font-weight: 400;
  font-size: 45px;
  color: @lighter-text;
}

.head {
  margin-left: 20px;
  font-family: @font;
  font-weight: 800;
  color: @lighter-text;
  font-size: 64px;
}

.block {
  background-color: @white;
  padding: 20px;
  margin-bottom: 64px;
}

.activity {
  width: 588px;
  margin-bottom: 24px;
}

.topic {
  width: 300px;
}

.sticker-button {
  margin-bottom: 16px;
}