.clearfix {
  &:before {
    content: '';
    display: table;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.ib-top() {
  display: inline-block;
  vertical-align: top;
}
.ib-mid() {
  display: inline-block;
  vertical-align: middle;
}
.ib-bot() {
  display: inline-block;
  vertical-align: bottom;
}