body {
  padding: 0;
  margin: 0;
  background-color: @background-color;
}

h1, h2, h3, h4, h5, h6, ul, p, dd {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.clearfix {
  &:before {
    content: '';
    display: table;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.ib-top() {
  display: inline-block;
  vertical-align: top;
}

.ib-mid() {
  display: inline-block;
  vertical-align: middle;
}

.ib-bot() {
  display: inline-block;
  vertical-align: bottom;
}

.ib-base() {
  display: inline-block;
  vertical-align: baseline;
}

.white-block() {
  border-radius: 2px;
  background-color: @white;
  box-shadow: 0 1px 2px 0 rgba(69, 69, 69, .41);
  overflow: hidden;
}

.organism-block() {
  .white-block;
  box-sizing: border-box;
  width: 620px;
  padding: 20px;
}


.rateit {

  .rateit-range {
    background: url(../assets/raiting-off.svg);
    background-size: 22px 18px;
  }

  .rateit-hover {
    background: url(../assets/raiting-on.svg);
    background-size: 22px 18px;
  }

  .rateit-selected {
    background: url(../assets/raiting-on.svg);
    background-size: 22px 18px;
  }

  .rateit-preset {
    background: url(../assets/raiting-half.svg);
    background-size: 22px 18px;
  }
}

.container {
  width: 940px;
  margin: 0 auto;
}