@import 'constants.less';

.footer {
  flex-grow: 0;
  padding-top: 27px;
  background-color: @text-color;

  &__top {
    padding-bottom: 13px;
    border-bottom: 1px solid @border-color;
  }

  &__content {
    float: left;
  }

  &__menu {
    list-style: none;
    font-size: 0;
  
    &-item {
      .ib-top;
      margin-right: 20px;
    }

    &-link {
      font-family: @font;
      font-weight: 600;
      font-size: 12px;
      line-height: 26px;
      color: @white;
      cursor: pointer;
    }
  }

  &__submenu {
    list-style: none;
    font-size: 0;

    &-item {
      .ib-top;
      margin-right: 20px;
    }

    &-link {
      font-family: @font;
      font-weight: 600;
      font-size: 10px;
      line-height: 26px;
      letter-spacing: .1px;
      color: @white;
      cursor: pointer;
      opacity: .5;
    }
  }

  &__support {
    float: right;
    margin-top: 10px;
  }

  &__bottom {
    padding: 9px 0 10px 0;
  }

  &__copyright {
      font-family: @font;
      font-weight: 600;
      font-size: 10px;
      line-height: 18px;
      color: @white;
      opacity: .5;
  }
}