@import 'atoms.less';

.ta-box {
  padding-bottom: 22px;
  
  &__label {
    display: block;
    margin-bottom: 4px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: @secondary-color;

    &_disabled {
      opacity: .5;
    }
  }

  &__ta {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__error {
    .ib-top;
    padding-top: 4px;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.11px;
    color: @error-color;
  }

  &__count {
    .ib-top;
    padding-top: 4px;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.11px;
    color: @icons-color;
  }
}

.input-box {
  &__label {
    display: block;
    margin-bottom: 4px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: @secondary-color;

    &_disabled {
      opacity: .5;
    }
  }

  &__input {
    display: block;
    width: 100%;

    &_excl {
      .ib-top;
    }
  }

  &__error {
    display: block;
    padding-top: 4px;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.11px;
    color: @error-color;

    &_excl {
      .ib-top;
      margin-left: 6px;
      margin-top: 3px;
      .svg-icon(18px, 18px, '../assets/info/info-EB433D.svg');
      transform: rotate(180deg);
    }
  }
}

.select-box {
  &_disabled {
    position: relative;
    opacity: .5;
    
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__label {
    display: block;
    margin-bottom: 4px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: @secondary-color;

  }

  &__select {
    display: block;
  }
}

.radio-box {
  font-size: 0;

  &_disabled {
    opacity: .5;
  }

  &__label {
    .ib-mid;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: @lighter-text;

    &_disabled {
      opacity: .5;
    }
  }

  &__radio {
    .ib-mid;
    margin-right: 8px;
  }
}

.checkbox-box {
  font-size: 0;
  
  &_disabled {
    opacity: .5;
  }

  &__label {
    .ib-mid;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: @lighter-text;
    cursor: pointer;

    &_disabled {
      opacity: .5;
    }
  }

  &__checkbox {
    .ib-mid;
    margin-right: 8px;
  }
}

.activity {
  padding-top: 19px;
  border-top: 1px solid @border-color;
  position: relative;

  &__likes {
    float: left;
    font-size: 0;
    cursor: pointer;
  }

  &__like {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 20px;
    height: 16px;
    background: url(../assets/like-disable.svg) no-repeat;
    background-size: 20px 16px;
  }

  &__number {
    display: inline-block;
    vertical-align: middle;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -.11px;
    color: @lighter-text;
  }

  &__share-container {
    position: relative;
  }

  &__share {
    float: right;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../assets/share.svg) no-repeat;
    background-size: 16px 16px;
    cursor: pointer;
  }

  &__socials {
    display: none;
    position: absolute;
    top: 30px;
    right: -77px;
    z-index: 10;

    &.active {
      display: block;
    }
  }
}

.topic {
  padding: 2px 0;
  border-bottom: 1px solid @border-color;

  &__name {
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.11px;
    color: @text-color;
    text-transform: uppercase;
  }
}

.sticker-button {
  font-size: 0;
  &__button {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.select-box_multiple {

  .selectric {
    &.active {
      padding-right: 60px;

      .button {
        right: 32px;
      }
    }

    .cancel {
      position: absolute;
      top:0;
      right: 0;
      padding: 9px 10px;
      border-left: 1px solid @border-color;

      span {
        display: block;
        .svg-icon(12px, 12px, '../assets/close.svg');
      }
    }
  }

  .selectric-items {
    top: 120%;
    border-radius: 2px;
    overflow: hidden;

    li {
      position: relative;

      &:before {
        content: '';
        .ib-top;
        margin-top: 3px;
        margin-right: 8px;
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid @border-color;
        background-color: @white;
      }

      &.selected {
        &:before {
          border: 1px solid @links-color;
          background-color: @links-color;
        }

        &:after {
          content: '';
          .svg-icon(10px, 7px, '../assets/check/check-FFFFFF.svg');
          position: absolute;
          top: 13px;
          left: 19px;
        }
      }

      &.disabled,
      &.off {
        color: rgba(28, 26, 24, .4);

        &:before {
          opacity: .4;
        }
      }
    }
  }
}