@import 'molecules.less';

.content-photo {
  .organism-block;

  &_wf {
    padding-bottom: 5px;
  }

  &__header {
    margin-bottom: 24px;

    @media screen {
      @media (max-width: 900px) {
        margin-bottom: 18px;
      }
    }
  }

  &__image-container {
    float: left;
    margin-right: 16px;
    width: 48px;
    height: 48px;
    overflow: hidden;

    @media screen {
      @media (max-width: 900px) {
        margin-right: 8px;
        margin-top: 3px;
      }
    }
  }

  &__description {
    float: left;
    width: 320px;
    padding-top: 3px;

    &_wf {
      width: auto;
      padding-top: 5px;
    }

    @media screen {
      @media (max-width: 900px) {
        width: auto;
        padding-top: 0;
      }
    }
  }

  &__title {
    display: block;
    margin-bottom: 3px;
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.11px;
    color: @text-color;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media screen {
      @media (max-width: 900px) {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 1px;
      }
    }
  }

  &__count {

    @media screen {
      @media (max-width: 900px) {
        display: block;
      }
    }

  }

  &__author {
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -.11px;
    color: @links-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__place {
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -.11px;
    color: @links-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__date {
    font-family: @font;
    font-weight: 400;
    opacity: .5;
    font-size: 12px;
    letter-spacing: -.11px;
    color: @secondary-color;
  }

  &__link {
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -.11px;
    color: @links-color;

    @media screen {
      @media (max-width: 900px) {
        font-weight: 700;
        font-size: 14px;
      }
    }
  }

  &__date {
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -.11px;
    color: @secondary-color;
  }

  &__subscribe {
    float: right;

    @media screen {
      @media (max-width: 900px) {
        display: none;
      }
    }
  }

  &__body {
    margin: 0 -4px 20px -4px;
    font-size: 0;

    @media screen {
      @media (max-width: 900px) {
        margin-bottom: 16px;
      }
    }
  }

  &__photo-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: @icons-color;

    @media screen {
      @media (max-width: 900px) {
        margin-right: 14px;
      }
    }
  }

  &__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &_other {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &__photo-block {
    overflow: hidden;

    &_1 {
      margin: 4px;
      width: 580px;
      height: 272px;

      @media screen {
        @media (max-width: 900px) {
          width: auto;
          height: 50vw;
          max-width: 580px;
          max-height: 272px;
        }

        @media (max-width: 360px) {
          height: 176px;
        }
      }
    }

    &_2 {
      .ib-top;
      margin: 0 4px;
      width: 286px;
      height: 272px;

      @media screen {
        @media (max-width: 900px) {
          width: ~"calc((50% - 8px))";
          height: 40vw;
          max-width: 286px;
          max-height: 272px;
        }

        @media (max-width: 360px) {
          height: 146px;
        }
      }
    }

    &_3 {
      .ib-top;
      width: 284px;
      height: 132px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      @media screen {
        @media (max-width: 900px) {
          width: 100%;
          height: 20vw;
          max-width: 284px;
          max-height: 132px;
        }

        @media (max-width: 360px) {
          height: 69px;
        }
      }
    }

    &_4 {
      .ib-top;
      margin: 0 8px 0 0;
      width: 138px;
      height: 132px;

      &:last-child {
        margin: 0;
      }

      @media screen {
        @media (max-width: 900px) {
          width: ~"calc((50% - 4px))";
          height: 20vw;
          max-width: 138px;
          max-height: 132px;
        }

        @media (max-width: 360px) {
          height: 69px;
        }
      }
    }
  }

  &__photos-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__photos-other {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.11px;
    color: @white;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 2;

    @media screen {
      @media (max-width: 900px) {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}

.new-place {
  .organism-block;

  &__header {
    margin-bottom: 24px;
    font-size: 0;

    @media screen {
      @media (max-width: 900px) {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 16px;
      }
    }
  }

  &__avatar-container {
    .ib-top;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
    overflow: hidden;


    @media screen {
      @media (max-width: 900px) {
        margin-right: 8px;
        flex-shrink: 0;
      }
    }
  }

  &__description {
    .ib-top;
    padding-top: 3px;
    width: 516px;

    @media screen {
      @media (max-width: 900px) {
        width: auto;
        flex-shrink: 1;
      }
    }
  }

  &__title {
    display: block;
    margin-bottom: 6px;
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.11px;
    color: @text-color;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media screen {
      @media (max-width: 900px) {
        margin-bottom: 2px;
        font-size: 14px;
        white-space: normal;
        font-weight: 400;
      }
    }
  }

  &__author {
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -.11px;
    color: @links-color;

    &:hover {
      text-decoration: underline;
    }

    @media screen {
      @media (max-width: 900px) {
        font-size: 14px;
        white-space: normal;
      }
    }
  }

  &__date {
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -.11px;
    color: @secondary-color;
  }

  &__body {
    margin-bottom: 24px;
    position: relative;
  }

  &__photo-container {
    height: 96px;
    margin-bottom: 56px;
    overflow: hidden;
    background: url(../img/pattern-background.png) no-repeat;
    background-size: cover;

    @media screen {
      @media (max-width: 900px) {
        margin-bottom: 48px;
      }
    }
  }

  &__place-type {
    position: absolute;
    left: 50%;
    top: 32px;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    transform: translate(-50%);
    background-color: @secondary-color;
  }

  &__type-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__place {
    display: block;
    text-align: center;
    font-family: @font;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.5;
    letter-spacing: -.11px;
    color: @links-color;
    cursor: pointer;

    @media screen {
      @media (max-width: 900px) {
        margin-bottom: 2px;
      }
    }
  }

  &__info {
    text-align: center;
    margin-bottom: 8px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: -.1px;
    color: @text-color;
  }

  &__type {
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: -.11px;
    color: @text-color;
  }

  &__splitter {
    .ib-mid;
    width: 4px;
    height: 4px;
    margin: 0 4px 0 5px;
    border-radius: 50%;
    background-color: @icons-color;
  }

  &__subscribe {
    display: block;
    text-align: center;
  }

  &__footer {

  }
}

.new-review {
  .organism-block;

  &_wf {
    padding-bottom: 4px;
  }

  &__header {
    margin-bottom: 21px;
    font-size: 0;

    @media screen {
      @media (max-width: 900px) {
        display: flex;
        margin-bottom: 15px;
      }
    }
  }

  &__avatar-container {
    .ib-top;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
    overflow: hidden;

    @media screen {
      @media (max-width: 900px) {
        margin-right: 8px;
        flex-shrink: 0;
      }
    }
  }

  &__description {
    .ib-top;
    width: 516px;

    &_wf {
      padding-top: 5px;
    }

    @media screen {
      @media (max-width: 900px) {
        width: auto;
        flex-shrink: 1;
      }
    }
  }

  &__title {
    display: block;
    margin-bottom: 5px;
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.11px;
    color: @text-color;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media screen {
      @media (max-width: 900px) {
        margin-bottom: 2px;
        white-space: normal;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  &__author {
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -.11px;
    color: @links-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @media screen {
      @media (max-width: 900px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &__date {
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -.11px;
    color: @secondary-color;
  }

  &__place {
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -.11px;
    color: @links-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @media screen {
      @media (max-width: 900px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &__body {
    margin-bottom: 24px;
  }

  &__review {
    margin: 0;
    margin-bottom: 4px;

    &_wf {
      margin-bottom: 8px;
    }

    @media screen {
      @media (max-width: 900px) {
        margin-bottom: 9px;
      }
    }
  }

  &__rating {
    .ib-top;
    height: 18px;
    margin-right: 4px;
  }

  &__more {
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -.09px;
    color: @links-color;
    cursor: pointer;

    @media screen {
      @media (max-width: 900px) {
        font-weight: 600;
        line-height: 18px;
        letter-spacing: .4px;
        text-transform: uppercase;
      }
    }
  }

}

.new-promo {
  .organism-block;
  padding-bottom: 0;

  &__header {
    margin-bottom: 25px;

    @media screen {
      @media (max-width: 900px) {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 20px;
      }
    }
  }

  &__image-container {
    float: left;
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    overflow: hidden;

    @media screen {
      @media (max-width: 900px) {
        margin-right: 8px;
        flex-shrink: 0;
      }
    }
  }

  &__description {
    float: left;
    width: 320px;

    @media screen {
      @media (max-width: 900px) {
        width: auto;
      }
    }
  }

  &__title {
    display: block;
    margin-bottom: 5px;
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.11px;
    color: @text-color;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media screen {
      @media (max-width: 900px) {
        margni-bottom: 1px;
        white-space: normal;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  &__link {
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -.11px;
    color: @links-color;

    @media screen {
      @media (max-width: 900px) {
        font-size: 14px;
      }
    }
  }

  &__date {
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -.11px;
    color: @secondary-color;
  }

  &__subscribe {
    float: right;

    @media screen {
      @media (max-width: 900px) {
        display: none;
      }
    }
  }

  &__body {
    margin-bottom: 24px;
  }

  &__name {
    margin-bottom: 4px;
    color: @links-color;

    @media screen {
      @media (max-width: 900px) {
        margin-bottom: 3px;
      }
    }
  }

  &__promo-date {
    display: block;
    margin-bottom: 8px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: -.11px;
    color: @text-color;

    @media screen {
      @media (max-width: 900px) {
        margin-bottom: 7px;
      }
    }
  }

  &__follow {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 24px;

    @media screen {
      @media (max-width: 900px) {
        margin-bottom: 19px;
      }
    }
  }

  &__photo-container {
    width: 580px;
    height: 576px;
    overflow: hidden;
    background-color: @icons-color;

    @media screen {
      @media (max-width: 900px) {
        width: auto;
        height: 50vw;
        max-width: 580px;
        max-height: 272px;
      }
    }

    @media (max-width: 360px) {
      height: 176px;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
  }

  &__footer {
    margin-bottom: 20px;
  }
}

.np-comments {

  &__more {
    display: block;
    padding: 7px 0;
    text-align: center;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -.11px;
    color: @secondary-color;
    text-align: center;
    background-color: @background-color;
    cursor: pointer;
  }

  &__list {
    list-style: none;
  }

  &__write {
    margin: 0 -20px;

    @media screen {
      @media (max-width: 900px) {
        margin: 0 -16px -16px;
      }
    }
  }
}

.np-comment {
  padding: 16px 0;
  font-size: 0;

  @media screen {
    @media (max-width: 900px) {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid @border-color;
  }

  &__avatar-container {
    .ib-top;
    width: 24px;
    height: 24px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 50%;
    overflow: hidden;

    @media screen {
      @media (max-width: 900px) {
        margin-right: 8px;
        flex-shrink: 0;
      }
    }
  }

  &__body {
    .ib-top;
    width: 548px;

    @media screen {
      @media (max-width: 900px) {
        width: auto;
        flex-grow: 1;
      }
    }
  }

  &__name {
    display: block;
    margin-bottom: 3px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.11px;
    color: @links-color;

    @media screen {
      @media (max-width: 900px) {
        font-weight: 600;
      }
    }
  }

  &__text {
    margin-bottom: 3px;
  }

  &__time {
    float: left;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.11px;
    color: @secondary-color;
  }

  &__likes {
    float: right;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.11px;
    color: @lighter-text;
  }

  &__like {
    .ib-base;
    width: 12px;
    height: 10px;
    background: url(../assets/like-disable.svg) no-repeat;
    background-size: 12px 10px;
  }

}

.np-write {
  font-size: 0;
  padding: 20px 20px 0px 20px;
  border-top: 1px solid @border-color;

  &__avatar-container {
    .ib-top;
    margin-right: 8px;
    margin-bottom: 16px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;

    @media screen {
      @media (max-width: 900px) {
        flex-shrink: 0;
      }
    }
  }

  &__form {
    .ib-top;
    width: 548px;
    margin-bottom: 16px;

    @media screen {
      @media (max-width: 900px) {
        width: ~"calc((100% - 56px))";
      }
    }
  }

  &__input {
    box-sizing: border-box;
    width: 548px;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -.11px;
    color: @secondary-color;
    border: none;
    outline: none;

    @media screen {
      @media (max-width: 900px) {
        width: 100%;
      }
    }
  }

  &__writing {
    display: none;
    margin: 0 -20px;
    padding: 16px 20px;
    border-top: 1px solid @border-color;
    background-color: @background-color;

    &.active {
      display: block;
    }

    @media screen {
      @media (max-width: 900px) {
        margin: 0 -16px -18px;
        padding: 16px 16px;
      }
    }
  }

  &__char-counter {
    float: left;
    margin-top: 6px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    color: @icons-color;
  }

  &__send {
    float: right;
  }
}

.new-places {
  position: relative;
  width: 620px;

  &__topic {
    margin-bottom: 21px;
  }

  &__more {
    position: absolute;
    top: 3px;
    right: 0;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.09px;
    color: @links-color;
    cursor: pointer;
  }

  &__list {
    list-style: none;
    font-size: 0;
    margin: 0 -10px;
  }

  &__item {
    .ib-top;
    width: 193px;
    height: 195px;
    margin: 0 10px;
    position: relative;
  }

  &__photo-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: @border-color;
    z-index: 1;
    cursor: pointer;
  }

  &__body {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(-180deg, rgba(75,80,99,0.00) 0%, rgba(75,80,99,0.66) 76%);
    z-index: 2;
  }

  &__info {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 16px 13px 16px;
  }

  &__name {
    display: block;
    margin-bottom: 4px;
    font-family: @font;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -.11px;
    color: @white;
  }
}

.month-place {
  width: 300px;

  &__topic {
    margin-bottom: 16px;
  }

  &__body {
    width: 300px;
    height: 208px;
    position: relative;

  }

  &__photo-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: @icons-color;
    z-index: 1;
    cursor: pointer;
  }

  &__descr {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(-180deg, rgba(75,80,99,0.00) 0%, rgba(75,80,99,0.66) 76%);
    z-index: 2;
  }

  &__info {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    padding: 16px;
  }

  &__name {
    display: block;
    margin-bottom: 4px;
    font-family: @font;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -.11px;
    color: @white;
  }

  &__rating {
    height: 18px;
  }
}

.day-review {
  width: 300px;
  position: relative;

  &__topic {
    margin-bottom: 16px;
  }

  &__body {
    font-size: 0;
  }

  &__avatar-container {
    .ib-top;
    margin-right: 8px;
  }

  &__descr {
    .ib-top;
    width: 244px;
  }

  &__name {
    display: block;
    font-family: @font;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.09px;
    color: @text-color;
  }

  &__info {
    display: block;
    margin-bottom: 4px;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.09px;
    color: @secondary-color;
  }

  &__rating {
    margin-bottom: 2px;
  }

  &__more {
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.09px;
    color: @links-color;
    cursor: pointer;
  }
}

.city-events {
  width: 300px;
  position: relative;
  margin-bottom: 28px;

  &__topic {
    margin-bottom: 13px;
  }

  &__list {
    list-style: none;
  }

  &__more {
    position: absolute;
    top: 3px;
    right: 0;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.09px;
    color: @links-color;
    cursor: pointer;
  }
}

.city-event {
  font-size: 0;
  &:not(:last-child) {
    margin-bottom: 18px;
  }

  &__image-container {
    .ib-top;
    margin: 4px 8px 3px 0;
  }

  &__body {
    .ib-top;
    width: 244px;
  }

  &__name {
    display: block;
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.28px;
    color: @text-color;
  }

  &__place {
    display: block;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.35;
    letter-spacing: -.1px;
    color: @secondary-color;
  }

  &__dates {
    display: block;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -.1px;
    color: @secondary-color;
  }
}

.blog {
  width: 300px;
  position: relative;

  &__topic {
    margin-bottom: 16px;
  }

  &__list {
    list-style: none;
  }

  &__item {
    width: 300px;
    height: 208px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__photo-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: @border-color;
    z-index: 1;
    cursor: pointer;
  }

  &__descr {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(-180deg, rgba(75,80,99,0.00) 0%, rgba(75,80,99,0.66) 76%);
    z-index: 2;
  }

  &__info {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 48px 16px 16px;
  }

  &__date {
    display: block;
    margin-bottom: 3px;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.09px;
    color: @white;
  }

  &__text {
    display: block;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.11px;
    color: @white;
  }

  &__more {
    position: absolute;
    top: 3px;
    right: 0;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.09px;
    color: @links-color;
    cursor: pointer;
  }
}

.discussions {
  width: 300px;
  position: relative;

  &__topic {
    margin-bottom: 24px;
  }

  &__list {
    list-style: none;
  }

  &__more {
    position: absolute;
    top: 3px;
    right: 0;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.09px;
    color: @links-color;
    cursor: pointer;
  }
}

.discus-item {
  font-size: 0;

  &:not(:last-child) {
    margin-bottom: 17px;
  }

  &__avatar-container {
    .ib-top;
    margin-right: 8px;
  }

  &__body {
    .ib-top;
    width: 244px;
  }

  &__name {
    display: block;
    font-family: @font;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.09px;
    color: @text-color;
  }

  &__info {
    display: block;
    margin-bottom: 3px;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.09px;
    color: @secondary-color;
  }

  &__more {
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.09px;
    color: @links-color;
    cursor: pointer;
  }
}

.cat-filter {
  .white-block;
  box-sizing: border-box;
  padding: 26px 22px 0 18px;
  
  &__title {
    margin-bottom: 23px;
    font-family: @font;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: -.11px;
    color: @text-color;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__list {
    display: none;
    list-style: none;
    font-size: 0;
    margin-right: -10px;
    margin-bottom: 12px;

    &.active {
      display: block;
    }

    &_all {
      columns: 4;
    }
  }

  &__item {
    .ib-top;
    margin-right: 10px;
    margin-bottom: 12px;

    &_all {
      display: block;
    }
  }

  &__other {
    display: block;
    text-align: center;
    padding: 10px 8px 7px 8px;
    font-family: @font;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: @secondary-color;
    text-transform: uppercase;
    border-top: 1px solid @border-color;
    cursor: pointer;
  }

  &__link {
    display: block;
    padding-left: 12px;
    font-family: @font;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: @lighter-text;
    cursor: pointer;

    &_active, &:hover {
      padding-left: 0;
      color: @text-color;

      &:before {
        content: '';
        .ib-mid;
        width: 4px;
        height: 4px;
        margin-right: 8px;
        border-radius: 50%;
        background-color: @text-color;
      }
    }
  }
}

.new-subscribe {
  .organism-block;
  padding-bottom: 16px;

  &__avatar-container {
    .ib-top;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
    overflow: hidden;
  }

  &__description {
    .ib-top;
    width: 516px;
    padding-top: 5px;
  }

  &__title {
    display: block;
    margin-bottom: 5px;
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.11px;
    color: @text-color;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__author {
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -.11px;
    color: @links-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__place {
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -.11px;
    color: @links-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__date {
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -.11px;
    color: @secondary-color;
  }
}