.content-photo.content-photo_wf
  .content-photo__header.clearfix
    .content-photo__image-container.avatar.avatar_48
      img.content-photo__image(src='http://via.placeholder.com/48x48')
    .content-photo__description.content-photo__description_wf
      span.content-photo__title
        a.content-photo__author(href='#') Катериночка мяуковская
        |  подписалась на новости 
        a.content-photo__place(href='#') Pasta Uno
      time.content-photo__date(datetime='2017-01-04T18:31') 4 января в 18:31
  .content-photo__body
    .content-photo__photo-block.content-photo__photo-block_2
      .content-photo__photo-container
        img.content-photo__photo
    .content-photo__photo-block.content-photo__photo-block_2
      .content-photo__photo-container
        img.content-photo__photo