.new-review.new-review_wf
  .new-review__header
    .new-review__avatar-container.avatar.avatar_48_man
      img.new-review__avatar(src='http://via.placeholder.com/48x48')
    .new-review__description.new-review__description_wf
      span.new-review__title
        a.new-review__author Катериночка мяуковская 
        | написала новый отзыв на 
        a.new-review__place Pasta Uno
      time.new-review__date(datetime='2017-01-04T18:31') 4 января в 18:31
  .new-review__body
    p.new-review__review.new-review__review_wf.text(data-expand-strings='4')
      span.new-review__rating.rating(
        data-rateit-readonly='true'
        data-rateit-value='3.5'
        )
      | Итальянское кафе , по мне одна из самых вкусных кухонь нашего города, летом всегда можно посидеть на летней веранде с друзьями или же наедине с кальяном, отдельный плюс за прекрасные десерты и выпечку хлеба которую делают своими руками, просто объедение! А так в целом круто! Заведение красные десерты и выпечк … Итальянское кафе , по мне одна из самых вкусных кухонь нашего города, летом всегда можно посидеть на летней веранде с друзьями или же наедине с кальяном, отдельный плюс за прекрасные десерты и выпечку хлеба которую делают своими руками, просто объедение! А так в целом круто! Заведение красные десерты и выпечк …
    a.new-review__more.expand-text Показать полностью