.new-subscribe
  .new-subscribe__avatar-container.avatar.avatar_48_man
    img.new-subscribe__avatar(src='http://via.placeholder.com/48x48')
  .new-subscribe__description
    span.new-subscribe__title
      a.new-subscribe__author(href='#') Катериночка мяуковская 
      | подписалась на новости 
      a.new-subscribe__place(href='#') Pasta Uno
    time.new-subscribe__date(datetime='2017-01-04T18:31') 4 января в 18:31