.activity.clearfix
  .activity__likes
    a.activity__like
    span.activity__number 138
  a.activity__share#activity-share
  .activity__socials.help.help_small.help_light.help_down#activity-socials
    ul.help__socials
      li.help__social
        a.help__social-link.help__social-link_g
      li.help__social
        a.help__social-link.help__social-link_fb
      li.help__social
        a.help__social-link.help__social-link_vk