.activity.clearfix
  .activity__likes
    a.activity__like
    span.activity__number 138
  .activity__share-container.clearfix
    a.activity__share#activity-share
    .activity__socials.help.help_small.help_light.help_down#activity-socials
      ul.help__socials
        li.help__social
          a.help__social-link.help__social-link_g(href='#') Google+
        li.help__social
          a.help__social-link.help__social-link_fb(href='#') Facebook
        li.help__social
          a.help__social-link.help__social-link_vk(href='#') Вконтакте
        li.help__social
          a.help__social-link.help__social-link_share(data-ref='http://followfoxy.ru') Копировать ссылку