.auth {
  padding-top: 19px;
  padding-bottom: 20px;

  &__breadcrumbs {
    margin-bottom: 21px;
  }

  &__window {
    box-sizing: border-box;
    .white-block;
    padding: 54px 0 0 45px;

    &_sm {
      height: 496px;
      background-image: url(../img/fox-on-grass.png);
      background-position: right bottom;
      background-repeat: no-repeat;
    }

    &_md {
      height: 522px;
      background-image: url(../img/fox-on-grass.png);
      background-position: right bottom;
      background-repeat: no-repeat;
    }

    &_lg {
      height: 764px;
      background-image: url(../img/fox-on-grass-and-ball.png);
      background-position: right bottom;
      background-repeat: no-repeat;

    }
  }

  &__info {
    width: 296px;
    padding-left: 32px;

    &_wd {
      width: 363px;
      padding-left: 0;
    }
  }

  &__head {
    width: 100%;
    margin-bottom: 19px;
  }

  &__title {
    display: block;
    margin-bottom: 6px;
    text-align: center;
    font-family: @font;
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: -.7px;
    color: @primary-orange;
  }

  &__description {
    display: block;
    padding-bottom: 10px;
    text-align: center;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: @text-color;

    &_reset {
      font-weight: 600;
      letter-spacing: -.4px;
    }

    &_short {
      padding-bottom: 8px;
    }

    &_login {
      font-weight: 600;
      letter-spacing: -.4px;
      padding-bottom: 0;
    }

    &_register {
      font-weight: 600;
      letter-spacing: -.4px;
      padding-bottom: 10px;
    }
  }

  &__register {
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: -.4px;
    color: @links-color;
    cursor: pointer;
  }

  &__body {
    width: 296px;
    margin: 0 auto;
  }

  &__back {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);

    &.active {
      display: block;
    }
  }

  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.reset-password {
  &__input {
    margin-bottom: 8px;
  }

  &__reset {
    width: 100%;
    margin-bottom: 6px;
  }

  &__back {
    float: right;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.1px;
    color: @links-color;
  }
}

.forgot-password {
  &__input {
    margin-bottom: 18px;
  }

  &__captcha {
    margin-bottom: 24px;
    font-size: 0;

    &-field {
      .ib-bot;
      width: 168px;
      margin-right: 8px;
    }

    &-img {
      .ib-bot;
      box-sizing: border-box;
      width: 120px;
      height: 32px;
      border: 1px solid @border-color;
    }
  }

  &__reset {
    width: 100%;
    margin-bottom: 6px;
  }

  &__back {
    float: right;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.1px;
    color: @links-color;
  }
}

.login {

  &__title {
    display: block;
    text-align: center;
    margin-bottom: 6px;
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: -.4px;
    color: @text-color;

    &_center {
      text-align: center;
    }
  }

  &__email {
    margin-bottom: 8px;
    position: relative;
  }

  &__help {
    width: 146px;
    position: absolute;
    top: -9px;
    right: -154px;
  }

  &__password {
    margin-bottom: 4px;
  }

  &__forgot {
    display: block;
    margin-bottom: 14px;
    text-align: right;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.1px;
    color: @links-color;
    cursor: pointer;
  }

  &__in {
    width: 100%;
    margin-bottom: 6px;
  }

  &__extra {
    display: block;
    text-align: right;
    margin-bottom: 20px;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.1px;
    color: @text-color;
  }

  &__register {
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.1px;
    color: @links-color;
    cursor: pointer;
  }

  &__list {
    list-style: none;
    font-size: 0;
    margin-right: -8px;
  }

  &__item {
    .ib-top;
    margin-right: 8px;
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;

    &_gg {

    }

    &_fb {

    }

    &_vk {

    }
  }
}

.register {
  font-size: 0;

  &__input {
    margin-bottom: 8px;
  }

  &__address {
    display: block;
    margin-top: 26px;
    margin-bottom: 4px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: @secondary-color;
  }

  &__select {
    margin-bottom: 8px;
  }

  &__birth {
    display: block;
    margin-top: 26px;
    margin-bottom: 4px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: @secondary-color;
  }

  &__date {
    .ib-top;
    width: 83px;
    margin-right: 9px;
  }

  &__month {
    .ib-top;
    width: 112px;
    margin-right: 9px;
  }

  &__year {
    .ib-top;
    width: 83px;
  }

  &__gender {
    display: block;
    margin-top: 26px;
    margin-bottom: 2px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: @secondary-color;
  }

  &__radio {
    .ib-top;
    margin-right: 15px;
  }

  &__captcha {
    margin-top: 26px;
    margin-bottom: 24px;
  }

  &__create {
    width: 100%;
    margin-bottom: 6px;
  }

  &__extra {
    display: block;
    text-align: right;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.1px;
    color: @text-color;
  }

  &__login {
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.1px;
    color: @links-color;
    cursor: pointer;
  }
}