@import '../common/organisms.less';

.categories {
  padding-top: 18px;
  padding-bottom: 20px;
  font-size: 0;

  @media screen {
    @media (max-width: 900px) {
      padding: 0;
    }
  }

  &__breadcrumbs {
    margin-bottom: 21px;

    @media screen {
      @media (max-width: 900px) {
        display: none;
      }
    }
  }

  &__top-places {
    margin-bottom: 16px;

    @media screen {
      @media (max-width: 900px) {
        display: none;
      }
    }
  }

  &__categories {
    margin-bottom: 20px;

    @media screen {
      @media (max-width: 900px) {
        margin-bottom: 0;
      }
    }
  }

  &__body {
    .ib-top;
    width: 620px;
    margin-right: 20px;

    @media screen {
      @media (max-width: 900px) {
        width: 100%;
        margin: 0;
      }
    }
  }

  &__places {
    margin-bottom: 40px;
  }

  &__other {
    margin-bottom: 43px;
    text-align: center;
  }

  &__other-button {
    @media screen {
      @media (max-width: 900px) {
        width: 256px;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__sidebar {
    .ib-top;
    width: 300px;

    @media screen {
      @media (max-width: 900px) {
        display: none;
      }
    }
  }

  &__map {
    .white-block;
    height: 400px;
    margin-bottom: 16px;
  }

  &__header-map {
    display: none;
    height: 146px;
    width: 100%;

    @media screen {
      @media (max-width: 900px) {
        display: block;
      }
    }
  }

  &__filters {
    margin-bottom: 28px;
  }

  &__add {
    margin-bottom: 34px;

    &-button {
      width: 100%;
      text-align: center;
    }
  }

  &__city-events {
    margin-bottom: 30px;
  }

  &__blog {
    margin-bottom: 20px;
  }

  &__discussions {
    margin-bottom: 24px;
  }

  &__info {
    margin-bottom: 42px;

    &-title {
      display: block;
      margin-bottom: 10px;
      font-family: @font;
      font-weight: 400;
      font-size: 19px;
      line-height: 28px;
      letter-spacing: -.1px;
      color: @text-color;
    }

    @media screen {
      @media (max-width: 900px) {
        display: none;
      }
    }
  }

  &__new-places {
    @media screen {
      @media (max-width: 900px) {
        display: none;
      }
    }
  }
}

.top-places {
  font-size: 0;

  &__item {
    .ib-top;
    height: 288px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &_left {
      width: 380px;
    }

    &_center {
      width: 220px;
    }

    &_right {
      width: 300px;
    }
  }

  &__block {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 2px 0 rgba(69, 69, 69, .41);
    border-radius: 3px;
    overflow: hidden;
    background-color: @icons-color;

    &_small {
      .ib-top;
      width: 140px;
      height: 134px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &_medium {
      height: 134px;
      margin-bottom: 20px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__info {
    box-sizing: border-box;
    padding: 14px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__name {
    display: block;
    margin-bottom: 5px;
    font-family: @font;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -.11px;
    color: @white;
  }
}


.places {

  &__list {
    margin-bottom: -16px;
  }

  &__item {
    margin-bottom: 20px;

      @media screen {
        @media (max-width: 900px) {
          margin-bottom: 0;
        }
      }
  }
}

.placecard {
  .white-block;
  box-sizing: border-box;
  width: 620px;
  height: 176px;
  font-size: 0;

  @media screen {
    @media (max-width: 900px) {
      width: auto;
      height: auto;
      min-width: 360px;
      display: flex;
      flex-direction: row-reverse;
      padding: 27px 16px 22px;
      border-radius: 0;
      border: none;
      border-top: 1px solid @border-color;
      box-shadow: none;
    }
  }

  &__photo-container {
    .ib-top;
    width: 184px;
    height: 176px;
    background-color: @icons-color;

    @media screen {
      @media (max-width: 900px) {
        flex-grow: 0;
        flex-shrink: 0;
        width: 76px;
        height: 76px;
      }
    }
  }

  &__body {
    .ib-top;
    box-sizing: border-box;
    width: 436px;
    padding: 16px 20px 15px 16px;

    @media screen {
      @media (max-width: 900px) {
        width: auto;
        flex-grow: 1;
        padding: 0;
      }
    }
  }

  &__title {
    display: block;
    margin-bottom: 2px;
    font-family: @font;
    font-weight: 600;
    font-size: 19px;
    line-height: 1.4;
    letter-spacing: -.07px;
    color: @text-color;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen {
      @media (max-width: 900px) {
        margin-bottom: 3px;
        font-size: 15px;
        line-height: 20px;
      }
    }
  }

  &__info {
    display: block;
    height: 18px;
    margin-bottom: 1px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: -.31px;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen {
      @media (max-width: 900px) {
        margin-bottom: 3px;
        font-weight: 600;
        line-height: 16px;
        opacity: .5;
      }
    }
  }

  &__address {
    &:before {
      content: '(';
    }
    &:after {
      content: ')';
    }

    @media screen {
      @media (max-width: 900px) {
        display: none;
      }
    }
  }

  &__offers {
    display: block;
    margin-bottom: 8px;
    height: 18px;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen {
      @media (max-width: 900px) {
        margin-bottom: 2px;
      }
    }
  }

  &__menu {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__prices {
    margin-right: 12px;

    &:before {
      content: '';
      .ib-mid;
      width: 13px;
      height: 15px;
      margin-bottom: 2px;
      margin-right: 3px;
      background: url(../assets/price.svg) no-repeat;
      background-size: 13px 15px;
    }
  }

  &__menu {
    &:before {
      content: '';
      .ib-mid;
      width: 16px;
      height: 11px;
      margin-bottom: 2px;
      margin-right: 2px;
      background: url(../assets/menu.svg) no-repeat;
      background-size: 16px 11px;
    }
  }

  &__review {
    display: block;
    height: 31px;
    margin-bottom: 22px;
    font-family: @font;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 15px;
    color: @lighter-text;

    &-button {
      margin-top: 2px;
    }

    &_first {
      margin-bottom: 14px;
    }

    @media screen {
      @media (max-width: 900px) {
        display: none;
      }
    }
  }

  &__adaptive-address {
    display: none;
    margin-bottom: 12px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: @text-color;

    @media screen {
      @media (max-width: 900px) {
        display: block;
      }
    }
  }

  &__social {
    float: left;
    font-size: 0;

    @media screen {
      @media (max-width: 900px) {
        margin-right: 13px;
      }
    }
  }

  &__rating-text {
    .ib-mid;
    margin-right: 3px;
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -.35px;
    color: @primary-orange;
  }

  &__rating {
    .ib-mid;
    margin-top: -1px;
    margin-right: 4px;
  }

  &__reviews {
    .ib-mid;
    box-sizing: border-box;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    color: @links-color;
    cursor: pointer;
    border-bottom: 1px solid @links-color;

    @media screen {
      @media (max-width: 900px) {
        font-size: 13px;
        color: @lighter-text;
        border: none;
      }
    }

    &:before {
      @media screen {
        @media (max-width: 900px) {
          content: '(';
        }
      }
    }

    &:after {
      @media screen {
        @media (max-width: 900px) {
          content: ')';
        }
      }
    }
  }

  &__reviews-text {

    @media screen {
      @media (max-width: 900px) {
        display: none;
      }
    }

  }

  &__schedule {
    float: right;
    margin-top: 2px;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: @primary-green;

    @media screen {
      @media (max-width: 900px) {
        float: left;
        text-transform: capitalize;
      }
    }
  }

  &__schedule-text {
    @media screen {
      @media (max-width: 900px) {
        font-size: 0;
        .ib-top;
        margin-right: 4px;
        .svg-icon(16px, 16px, '../assets/clock/clock-43A00F.svg');
      }
    }
  }

  &__footer {
    @media screen {
      @media (max-width: 900px) {
        margin-right: -76px;
      }
    }
  }
}




.filters {
  .white-block;
  padding: 23px 20px 24px 20px;

  &__topic {
    margin-bottom: 26px;
  }

  &__list {
    margin-bottom: -30px;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__sublist {
    list-style: none;
    padding-top: 1px;
    margin-bottom: -15px;
  }

  &__subitem {
    margin-bottom: 15px;
  }
}

.filter-page {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: @white;

  &__header {
    box-sizing: border-box;
    height: 56px;
    padding: 0 11px 0 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: @primary-orange;
  }

  &__back {
    font-family: @font;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: @white;
    position: relative;
    padding-left: 17px;
    padding-bottom: 2px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      .svg-icon(12px, 19px, '../assets/arrow.svg');
      transform: rotate(180deg);
    }
  }

  &__title {
    font-family: @font;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: @white;
  }

  &__confirm {
    font-family: @font;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: @white;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__body {
    padding: 26px 16px;
  }

  &__select {
    margin-bottom: 30px;
  }

  &__check {
    margin-bottom: 16px;
  }
}