@import '../common/organisms.less';

.front-main {
  font-size: 0;
  padding-top: 21px;

  &__tabs {
    .white-block;
    width: 620px;
    margin-bottom: 20px;
    padding-top: 19px;
  }

  &__body {
    .ib-top;
    width: 620px;
    margin-right: 20px;
  }

  &__entry {
    margin-bottom: 20px;
  }

  &__other {
    text-align: center;
    margin-bottom: 53px;

    &-button {
      .ib-top;
    }
  }
}

.front-sidebar {
  .ib-top;
  width: 300px;

  &__month-place {
    margin-bottom: 38px;
  }

  &__day-review {
    margin-bottom: 32px;
  }

  &__city-events {
    margin-bottom: 18px;
  }

  &__blog {
    margin-bottom: 20px;
  }
}