.photogallery {
  padding-top: 30px;
  position: relative;
  .ib-top;

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    .svg-icon(14px, 14px, '../assets/close/close-EEEFF0.svg');
  }

  &__window {
    display: flex;
    flex-wrap: nowrap;
  }

  &__view {
    min-width: 600px;
    flex-grow: 1;
    padding-right: 310px;
    position: relative;
  }

  &__photo-container {
    position: relative;
    box-sizing: border-box;
    padding: 31px 128px 27px;
    background-color: @text-color;
  }

  &__arrow {
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 0;
    transition: .3s;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      .svg-icon(14px, 25px, '../assets/arrow.svg');
    }

    &_left {
      width: 20%;
      left: 0;

      &:after {
        left: 32px;
        transform: rotate(180deg);
      }
    }

    &_right {
      width: 80%;
      right: 0;

      &:after {
        right: 32px;
      }
    }
  }

  &__photo-container:hover &__arrow {
    opacity: .4;
  }

  &__photo-container &__arrow:hover {
    opacity: 1;
  }

  &__info {
    box-sizing: border-box;
    height: 68px;
    padding: 13px 34px;
    font-size: 0;
    background-color: @text-color;
  }

  &__category {
    .ib-top;
    margin-right: 12px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.09px;
    color: @background-color;
  }

  &__count {
    .ib-top;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.09px;
    color: @icons-color;
  }

  &__report {
    display: block;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.09px;
    color: @icons-color;
    cursor: pointer;
  }

  &__main {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 310px;
    background-color: @white;
  }

  &__head {
    font-size: 0;
    padding: 20px;
    border-bottom: 1px solid @border-color;
  }

  &__avatar-container {
    .ib-top;
    margin-right: 16px;
  }

  &__author {
    .ib-top;
    width: 206px;
    padding-top: 6px;
  }

  &__name {
    display: block;
    margin-bottom: 3px;
    font-family: @font;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: -.1px;
    color: @links-color;
  }

  &__date {
    display: block;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: -.1px;
    color: @secondary-color;
  }

  &__body {
    overflow: hidden;
    flex-grow: 1;
    border-bottom: 1px solid @border-color;

    & .mCSB_inside>.mCSB_container {
      margin-right: 10px;
    }

    & .mCSB_scrollTools {
      width: 10px;
    }

    & .mCSB_scrollTools .mCSB_draggerContainer {
      top: 5px;
      bottom: 5px;
    }

    & .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background-color: @icons-color;
      width: 5px;
    }

    & .mCSB_scrollTools .mCSB_draggerRail {
      background-color: @icons-color;
      width: 5px;
      opacity: .3;
    }
  }

  &__description {
    padding: 20px 18px 20px 20px;
  }

  &__foot {
    padding: 13px 23px 16px;
  }

  &__like {
    .ib-top;
    cursor: pointer;
  }

  &__like-icon {
    .ib-mid;
    .like;
    margin-right: 8px;
  }

  &__like-text {
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -.11px;
    color: @lighter-text;
  }
}