@import '../common/organisms.less';
@import 'place/overview.less';
@import 'place/reviews.less';
@import 'place/photos.less';
@import 'place/events.less';
@import 'place/sales.less';

.place-page {
  padding-top: 16px;
  font-size: 0;

  &__breadcrumbs {
    margin-bottom: 21px;
  }

  &__header {
    margin-bottom: 16px;
  }

  &__body {
    display: none;
    width: 620px;
    margin-right: 20px;

    &.active {
    .ib-top;
    }
  }

  &__sidebar {
    .ib-top;
    width: 300px;
  }

  &__contacts {
    margin-bottom: 25px;
  }

  &__city-events {
    margin-bottom: 13px;
  }

  &__blog {
    margin-bottom: 20px;
  }

  &__rating {
    display: none;

    &.active {
      display: block;
    }
  }
}

.place-descr {
  padding: 23px 20px 0 20px;
  .white-block;

  &__head {

  }

  &__tags {
    float: left;
    margin-top: 1px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -.27px;
    color: @lighter-text;
  }

  &__subscription {
    float: right;
  }

  &__subs {
    .ib-mid;
    list-style: none;
    font-size: 0;
    margin-right: 14px;
  }

  &__sub {
    float: right;
    margin-right: -4px;

    &-link {
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: @icons-color;
      border: 1px solid @white;
    }
  }

  &__subscribe {
    .ib-mid;
  }

  &__name {
    display: block;
    margin-top: -1px;
    margin-bottom: 14px;
    font-family: @font;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: -.41px;
    color: @text-color;
  }

  &__rating {
    margin-bottom: 17px;

    &-stars {
      .ib-mid;
      margin-right: 10px;
    }

    &-text {
      .ib-mid;
      font-family: @font;
      font-weight: 400;
      font-size: 13px;
      letter-spacing: -.31px;
      color: @text-color;
    }
  }

  &__menu {
    margin: 0 -20px;
    padding: 8px 20px 0 20px;
    border-top: 1px solid @border-color;
  }

  &__tabs {
    .ib-bot;
    margin-top: 12px;
    margin-bottom: -1px;
    width: 646px;
  }

  &__actions {
    float: right;
    margin-bottom: 9px;
  }

  &__favs {
    .ib-top;
    margin-right: 8px;
  }

  &__review {
    .ib-top;
  }
}

.placepage-add-review {
  .white-block;
  padding: 27px 20px 24px 20px;

  &__title {
    display: block;
    margin-bottom: 16px;
    font-family: @font;
    font-weight: 400;
    font-size: 19px;
    line-height: 21px;
    letter-spacing: -.14px;
    color: @text-color;
  }

  &__rating {
    font-size: 0;
    padding: 7px 7px 8px 7px;
    border: 1px solid @border-color;
    border-bottom: none;
    border-radius: 2px 2px 0 0;


    &-text {
      .ib-top;
      margin-right: 18px;
      font-family: @font;
      font-weight: 400;
      font-size: 13px;
      line-height: 1.5;
      color: @lighter-text;
    }

    &-stars {
      .ib-top;
    }
  }

  &__ta {
    display: block;
    width: 100%;
    height: 77px;
    border-radius: 0 0 2px 2px;
  }
}

.placepage-reviews {
  .white-block;

  &__title {
    display: block;
    padding: 27px 20px 22px 20px;
    font-family: @font;
    font-weight: 400;
    font-size: 19px;
    line-height: 21px;
    letter-spacing: -.14px;
    color: @text-color;
    border-bottom: 1px solid @border-color;
  }

  &__number {
    margin-left: 4px;
    font-family: @font;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -.11px;
    color: @secondary-color;
  }

  &__body {
    padding: 0 20px;
  }

  &__list {
    list-style: none;
  }

  &__item {
    padding: 24px 0;
  }

  &__more {
    display: block;
    padding: 10px 0 7px 0;
    text-align: center;
    font-family: @font;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: @secondary-color;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.placepage-review {
  position: relative;
  border-bottom: 1px solid @border-color;
  font-size: 0;

  &__avatar-container {
    .ib-top;
    margin-right: 15px;
  }

  &__body {
    .ib-top;
    width: 516px;
  }

  &__other {
    position: absolute;
    right: 21px;
    top: 46px;
    width: 18px;
    height: 4px;
    background: url(../assets/dots.svg) no-repeat;
    background-size: 18px 4px;
  }

  &__name {
    display: block;
    margin-top: 5px;
    margin-bottom: 1px;
    font-family: @font;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -.11px;
    color: @text-color;
  }

  &__info {
    margin-bottom: 15px;
    font-family: @font;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.05px;
    color: @lighter-text;
  }

  &__subs {
    .ib-mid;
  }

  &__point {
    .ib-mid;
    margin: 0 4px;
    width: 2px;
    height: 2px;
    background-color: @lighter-text;
  }

  &__reviews-number {
    .ib-mid;
  }

  &__rating {
    margin-bottom: 7px;
  }

  &__text {
    margin-bottom: 10px;
  }

  &__date {
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -.11px;
    color: @lighter-text;
  }

  &__actions {
    float: right;
    margin-right: 20px;
    font-size: 0;
  }

  &__like {
    .ib-top;
    margin-right: 19px;
    width: 17px;
    height: 14px;
    background: url(../assets/like-disable.svg) no-repeat;
    background-size: 17px 14px;
  }

  &__share {
    .ib-top;
    width: 13px;
    height: 13px;
    background: url(../assets/share.svg) no-repeat;
    background-size: 13px 13px;
  }
}



.place-contacts {
  .white-block;
  padding: 8px;

  &__map {
    display: block;
    height: 384px;
    margin-bottom: 17px;
  }

  &__body {
    margin-bottom: 8px;
  }

  &__main {
    position: relative;
    padding-bottom: 4px;
    margin: 0 6px 8px 38px;
    border-bottom: 1px solid @border-color;

    &:before {
      content: '';
      position: absolute;
      left: -26px;
      top: 0;
      .mark;
    }
  }

  &__name {
    font-family: @font;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: @text-color;
  }

  &__address {
    display: block;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: @text-color;
  }

  &__schedule {
    position: relative;
    padding-bottom: 6px;
    margin: 0 6px 9px 38px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: @text-color;
    border-bottom: 1px solid @border-color;

    &:before {
      content: '';
      position: absolute;
      left: -28px;
      top: 0;
      .time;
    }

    &-link {
      font-family: @font;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: @links-color;
      cursor: pointer;
    }
  }

  &__phone {
    position: relative;
    padding-bottom: 9px;
    margin: 0 6px 9px 38px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: @text-color;
    border-bottom: 1px solid @border-color;

    &:before {
      content: '';
      position: absolute;
      left: -23px;
      top: 0;
    }
  }

  &__site {
    position: relative;
    padding-bottom: 8px;
    margin: 0 6px 8px 38px;
    border-bottom: 1px solid @border-color;

    &:before {
      content: '';
      position: absolute;
      left: -26px;
      top: 0;
    }

    &-link {
      font-family: @font;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: @links-color;
      cursor: pointer;
    }
  }

  &__owners {
    .ib-top;
    margin: 0 0 5px 38px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.1px;
    color: @links-color;
    cursor: pointer;
  }

  &__fix {
    .ib-top;
    margin: 0 0 9px 38px;
    font-family: @font;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.1px;
    color: @links-color;
    cursor: pointer;
  }
}
