extends ../templates/add-place.jade

block title
  | Add place step 5

block content
  .container
    main.add-place
      .add-place__breadcrumbs
        ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link Главная
          li.breadcrumbs__item
            a.breadcrumbs__link Добавление нового места на followfoxy
      .add-place__main
        h1.add-place__head Добавление нового места на followfoxy
        ul.add-place__steps
            li.add-place__step.add-place__step_passed Название
            li.add-place__step.add-place__step_passed Адрес
            li.add-place__step.add-place__step_passed Категория
            li.add-place__step.add-place__step_passed Информация и фото
            li.add-place__step.add-place__step_active Завершение
        form.add-place__form
          p.add-place__done-text.text Теперь все готово к добавлению места. Проверьте еще раз информацию.
          .add-place__finishing.added-place
            h2.added-place__title Предпросмотр
            ul.added-place__photos
              li.added-place__photo
                img.added-place__img
              li.added-place__photo
                img.added-place__img
            h3.added-place__name BellevilleCafe
            span.added-place__address Ресторан, кафе, бар (Волгоград, ул. Мира, 12)
            dl.added-place__features
              dt.added-place__termine Особенности: 
              dd.added-place__description Парковка, wi-fi
        .add-place__actions.clearfix
          a.add-place__terms Пользовательское соглашение
          a.add-place__next.button.button_first(href='step4.html') Следующий шаг
