extends ../templates/add-place.jade

block title
  | Add place step 2

block content
  .container
    main.add-place
      .add-place__breadcrumbs
        ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link Главная
          li.breadcrumbs__item
            a.breadcrumbs__link Добавление нового места на followfoxy
      .add-place__main
        h1.add-place__head Добавление нового места на followfoxy
        ul.add-place__steps
            li.add-place__step.add-place__step_passed Название
            li.add-place__step.add-place__step_active Адрес
            li.add-place__step Категория
            li.add-place__step Информация и фото
            li.add-place__step Завершение
        form.add-place__form
          .add-place__address
            .input-box
              label.input-box__label Адрес
              input.text-input.input-box__input(type='text', placeholder='ул. Мира, 12', pattern=".*", required)
          .add-place__country
            .select-box
              label.select-box__label Страна
              select.select.select-box__select
                option(default, data-disabled) Не выбрано
                - for (var x = 1; x <= 5; x++)
                  option(value='#{x}') Пункт #{X}
          .add-place__city
            .select-box
              label.select-box__label Город
              select.select.select-box__select
                option(default, data-disabled) Не выбрано
                - for (var x = 1; x <= 5; x++)
                  option(value='#{x}') Пункт #{X}
        .add-place__actions.clearfix
          a.add-place__terms Пользовательское соглашение
          a.add-place__next.button.button_first(href='step3.html') Следующий шаг
