extends ../templates/add-place.jade

block title
  | Add place step 4

block content
  .container
    main.add-place
      .add-place__breadcrumbs
        ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link Главная
          li.breadcrumbs__item
            a.breadcrumbs__link Добавление нового места на followfoxy
      .add-place__main
        h1.add-place__head Добавление нового места на followfoxy
        ul.add-place__steps
            li.add-place__step.add-place__step_passed Название
            li.add-place__step.add-place__step_passed Адрес
            li.add-place__step.add-place__step_passed Категория
            li.add-place__step.add-place__step_active Информация и фото
            li.add-place__step Завершение
        form.add-place__form.add-place__form_add-photo
          p.add-place__detail.text
            span.text.text_bold Укажите более подробную информацию: есть ли wi-fi, парковка? 
            | Эта информация ценна для людей, которые собираются посетить место. Они заранее будут знать, смогут ли припарковать автомобиль или расплатиться банковской картой.
          .add-place__checkboxes
            .checkbox-box.add-place__checkbox
              .checkbox.checkbox-box__checkbox
                input.checkbox__input#checkbox1(type='checkbox', name='checkbox')
                label.checkbox__label(for='checkbox1')
              label.checkbox-box__label(for='checkbox1') Оплата картой
            .checkbox-box.add-place__checkbox
              .checkbox.checkbox-box__checkbox
                input.checkbox__input#checkbox2(type='checkbox', name='checkbox')
                label.checkbox__label(for='checkbox2')
              label.checkbox-box__label(for='checkbox2') Страховка
            .checkbox-box.add-place__checkbox
              .checkbox.checkbox-box__checkbox
                input.checkbox__input#checkbox3(type='checkbox', name='checkbox')
                label.checkbox__label(for='checkbox3')
              label.checkbox-box__label(for='checkbox3') Wi-fi
          p.add-place__photo-info.text
            span.text.text_bold Загрузите от 1 до 7 фото. 
            | Вес каждого файла до 7мб. Подойдут фотографии снятые на камеру мобильного телефона. 
          .add-place__add.add-photos
            span.add-photos__add-back
            .add-photos__add
              button.button.button_second Загрузите файлы
            span.add-photos__add-string или перетащите их мышью
          ul.add-place__added.added-photos
            li.added-photos__item
              .added-photos__img-container
                img.added-photos__img
              span.added-photos__delete Удалить
            li.added-photos__item
              .added-photos__img-container
                img.added-photos__img
              span.added-photos__delete Удалить
        .add-place__actions.clearfix
          a.add-place__terms Пользовательское соглашение
          a.add-place__next.button.button_first(href='step5.html') Следующий шаг
