extends ../templates/owner-admin.jade

block title
  | Activity

block content
  .owner-admin__activity.admin-feed
    .admin-feed__unit
      p.admin-feed__empty Активности пока нет. Но если кто-нибудь напишет отзыв о вашем заведении, загрузит фотографию или подпишется на новости, вы обязательно узнаете об этом.