extends ../templates/owner-admin.jade

block title
  | Photos

block content
  .owner-admin__photos.admin-photos
    .admin-photos__main
      .admin-photos__title Фотографии 
        span.admin-photos__number 189
      .admin-photos__body
        form.admin-photos__add-files.add-photos
          span.add-photos__add-back
          .add-photos__add
            button.button.button_second Загрузите файлы
          span.add-photos__add-string или перетащите их мышью
        ul.admin-photos__list
          - for (var i = 0; i < 15; i++)
            li.admin-photos__item.admin-photo-item
              a.admin-photo-item__link
                img.admin-photo-item__photo(src='http://via.placeholder.com/192x166')
        .admin-photos__more показать еще