extends ../templates/owner-admin.jade

block title
  | Reviews

block content
  .owner-admin__reviews.admin-reviews
    .admin-reviews__title Отзывы 
      span.admin-reviews__number  0
    .admin-reviews__body
      p.admin-reviews__empty Еще никто не написал отзыв о вашем заведении