extends ../templates/owner-admin.jade

block title
  | Reviews

block content
  .owner-admin__reviews.admin-reviews
    .admin-reviews__title Отзывы 
      span.admin-reviews__number  189
    .admin-reviews__body
      ul.admin-reviews__list
        li.admin-reviews__item.admin-review
          .admin-review__avatar-container.avatar.avatar_48
            img.admin-review__avatar(src='http://via.placeholder.com/48x48')
          .admin-review__body
            .admin-review__other
            .admin-review__name Катериночка Мяуковская
            .admin-review__info
              span.admin-review__subs 73 подписчика
              span.admin-review__point
              span.admin-review__reviews-number 183 отзыва
            span.admin-review__rating.rating(data-rateit-readonly='true', data-rateit-value='4.5')
            p.admin-review__text.text Итальянское кафе , по мне одна из самых вкусных кухонь нашего города, летом всегда можно посидеть на летней веранде с друзьями или же наедине с кальяном, отдельный плюс за прекрасные десерты и выпечку хлеба которую делают своими руками, просто объедение!  …
            .admin-review__extra.clearfix
              time.admin-review__date(datetime='2017-01-04T18:31') 4 января в 18:31
              a.admin-review__reply(href='#') Ответить на отзыв
              .admin-review__social
                .admin-review__like
                .admin-review__share
            .admin-review__answer
              .admin-review__respond.review-respond
                span.review-respond__author Елена Бажутова, управляющий в Oнегин, ответила на этот отзыв
                p.review-respond__text Итальянское кафе , по мне одна из самых вкусных кухонь нашего города, летом всегда можно посидеть на летней веранде с друзьями или же наедине с кальяном, отдельный плюс за прекрасные десерты и выпечку хлеба которую делают своими руками, просто объедение!  …
                time.review-respond__time(datetime='2017-01-12T18:31') 12 января в 18:31 
                span.review-respond__splitter
                a.review-respond__delete  Удалить
        li.admin-reviews__item.admin-review
          .admin-review__avatar-container.avatar.avatar_48
            img.admin-review__avatar(src='http://via.placeholder.com/48x48')
          .admin-review__body
            .admin-review__other
            .admin-review__name Катериночка Мяуковская
            .admin-review__info
              span.admin-review__subs 73 подписчика
              span.admin-review__point
              span.admin-review__reviews-number 183 отзыва
            span.admin-review__rating.rating(data-rateit-readonly='true', data-rateit-value='4.5')
            p.admin-review__text.text Итальянское кафе , по мне одна из самых вкусных кухонь нашего города, летом всегда можно посидеть на летней веранде с друзьями или же наедине с кальяном, отдельный плюс за прекрасные десерты и выпечку хлеба которую делают своими руками, просто объедение!  …
            .admin-review__extra.clearfix
              time.admin-review__date(datetime='2017-01-04T18:31') 4 января в 18:31
              a.admin-review__reply(href='#') Ответить на отзыв
              .admin-review__social
                .admin-review__like
                .admin-review__share
        li.admin-reviews__item.admin-review
          .admin-review__avatar-container.avatar.avatar_48
            img.admin-review__avatar(src='http://via.placeholder.com/48x48')
          .admin-review__body
            .admin-review__other
            .admin-review__name Катериночка Мяуковская
            .admin-review__info
              span.admin-review__subs 73 подписчика
              span.admin-review__point
              span.admin-review__reviews-number 183 отзыва
            span.admin-review__rating.rating(data-rateit-readonly='true', data-rateit-value='4.5')
            p.admin-review__text.text Итальянское кафе , по мне одна из самых вкусных кухонь нашего города, летом всегда можно посидеть на летней веранде с друзьями или же наедине с кальяном, отдельный плюс за прекрасные десерты и выпечку хлеба которую делают своими руками, просто объедение!  …
            .admin-review__extra.clearfix
              time.admin-review__date(datetime='2017-01-04T18:31') 4 января в 18:31
              a.admin-review__reply(href='#') Ответить на отзыв
              .admin-review__social
                .admin-review__like
                .admin-review__share
            .admin-review__answer
              .admin-review__respond.review-respond
                span.review-respond__author Елена Бажутова, управляющий в Oнегин, ответила на этот отзыв
                p.review-respond__text Итальянское кафе , по мне одна из самых вкусных кухонь нашего города, летом всегда можно посидеть на летней веранде с друзьями или же наедине с кальяном, отдельный плюс за прекрасные десерты и выпечку хлеба которую делают своими руками, просто объедение!  …
                time.review-respond__time(datetime='2017-01-12T18:31') 12 января в 18:31 
                span.review-respond__splitter
                a.review-respond__delete  Удалить
        li.admin-reviews__item.admin-review
          .admin-review__avatar-container.avatar.avatar_48
            img.admin-review__avatar(src='http://via.placeholder.com/48x48')
          .admin-review__body
            .admin-review__other
            .admin-review__name Катериночка Мяуковская
            .admin-review__info
              span.admin-review__subs 73 подписчика
              span.admin-review__point
              span.admin-review__reviews-number 183 отзыва
            span.admin-review__rating.rating(data-rateit-readonly='true', data-rateit-value='4.5')
            p.admin-review__text.text Итальянское кафе , по мне одна из самых вкусных кухонь нашего города, летом всегда можно посидеть на летней веранде с друзьями или же наедине с кальяном, отдельный плюс за прекрасные десерты и выпечку хлеба которую делают своими руками, просто объедение!  …
            .admin-review__extra.clearfix
              time.admin-review__date(datetime='2017-01-04T18:31') 4 января в 18:31
              a.admin-review__reply(href='#') Ответить на отзыв
              .admin-review__social
                .admin-review__like
                .admin-review__share
            .admin-review__answer.clearfix
              .admin-review__field
                textarea.textarea.admin-review__textarea(placeholder='Ваш текст')
                span.admin-review__triangle
              .admin-review__actions
                button.admin-review__cancel Отменить
                button.button.button_first.admin-review__submit Ответить
        span.admin-reviews__more Показать ещё