extends ../templates/owner-admin.jade

block title
  | Subscribers

block content
  .owner-admin__subs.admin-follow
    .admin-follow__title Подписчики 
      span.admin-follow__number  189
    .admin-follow__body
      p.admin-follow__empty Подписчиков нет