extends ./templates/main

block title
  | Page not found

block content
  .container
    main.pnf
      .pnf__window
        img.pnf__img(src='img/404-01.png')
        h1.pnf__title Ошибка 404. Такой страницы нет
        a.pnf__button.button.button_first(href='frontpage.html') На главную