extends ./templates/services.jade

block title
  | Add photos

block styleLinks
  link(rel='stylesheet', href='css/main.css')
  link(rel='stylesheet', href='css/windows.css')

block content
  .upload-photos
    .upload-photos__window
      .upload-photos__top.clearfix
        .upload-photos__close
        span.upload-photos__title Добавление новых фотографий
        span.upload-photos__count Загружено 4 из 5
      .upload-photos__mid
        .upload-photos__dnd.add-photos
          span.add-photos__add-back
          .add-photos__add.add-photos__add_upload
            button.button.button_second Загрузите файлы
          span.add-photos__title Перетащите сюда ваши gif-, jpg- или png-фотографии
          span.add-photos__weight До 5 фотографий. Вес каждого файла не больше 7 мегабайт
        ul.upload-photos__list
          li.upload-photos__item
            .upload-photos__photo-container
              img.upload-photos__photo
            .upload-photos__description
              .upload-photos__ta.ta-box.clearfix
                textarea.textarea.ta-box__ta(placeholder='Добавьте короткое описание, не больше 100 символов. Это поможет понять что изображено на фотографии. Чтобы все фотографии на фоллоуфокси были подписаны, мы сделали это поле обязательным.')
                span.upload-photos__delete Удалить фотографию
          li.upload-photos__item
            .upload-photos__photo-container
              img.upload-photos__photo
            .upload-photos__description
              .upload-photos__ta.ta-box.clearfix
                textarea.textarea.ta-box__ta(placeholder='Добавьте короткое описание, не больше 100 символов. Это поможет понять что изображено на фотографии. Чтобы все фотографии на фоллоуфокси были подписаны, мы сделали это поле обязательным.', value='На фотографии чудесный пай')
                span.ta-box__count 27 из 100 символов
                span.upload-photos__delete Удалить фотографию
          li.upload-photos__item
            .upload-photos__photo-container
              img.upload-photos__photo
            .upload-photos__description
              .upload-photos__ta.ta-box.clearfix
                textarea.textarea.textarea_error.ta-box__ta(placeholder='Добавьте короткое описание, не больше 100 символов. Это поможет понять что изображено на фотографии. Чтобы все фотографии на фоллоуфокси были подписаны, мы сделали это поле обязательным.')
                span.ta-box__error 107 символов - длинно. Сократите текст
                span.upload-photos__delete Удалить фотографию
          li.upload-photos__item
            .upload-photos__photo-container
              img.upload-photos__photo
            .upload-photos__description
              .upload-photos__ta.ta-box.clearfix
                textarea.textarea.textarea_error.ta-box__ta(placeholder='Добавьте короткое описание, не больше 100 символов. Это поможет понять что изображено на фотографии. Чтобы все фотографии на фоллоуфокси были подписаны, мы сделали это поле обязательным.')
                span.ta-box__error Добавьте описание, до 100 символов
                span.upload-photos__delete Удалить фотографию
      .upload-photos__bot.clearfix
        .upload-photos__condits
          | Загружая фотографии вы принимаете 
          a.upload-photos__terms условия использования
          |  Followfoxy
        .upload-photos__actions
          button.upload-photos__cancel.button.button_second Отменить
          button.upload-photos__add.button.button_first Добавить фотографии

  .upload-photos
    .upload-photos__window
      .upload-photos__upload
        .upload-photos__upload-container
          .upload-photos__animation
          span.upload-photos__wait Фотографии загружаются. Подождите немного

  .upload-photos
    .upload-photos__window
      .upload-photos__upload
        .upload-photos__dnd.add-photos
          .add-photos__add.add-photos__add_upload
            button.button.button_second Загрузите файлы
          span.add-photos__title Перетащите сюда ваши gif-, jpg- или png-фотографии
          span.add-photos__weight До 5 фотографий. Вес каждого файла не больше 7 мегабайт