extends ./templates/main.jade

block title
  | Add place

block content
  .container
    main.add-place
      .add-place__breadcrumbs
        ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link Главная
          li.breadcrumbs__item
            a.breadcrumbs__link Добавление нового места на followfoxy
      .add-place__main
        h1.add-place__head Добавление нового места на followfoxy
        ul.add-place__steps
            li.add-place__step.add-place__step_active Название
            li.add-place__step Адрес
            li.add-place__step Категория
            li.add-place__step Информация и фото
            li.add-place__step Завершение
        form.add-place__form
          .input-box
            label.input-box__label Название места, которое вы хотите добавить
            input.text-input.input-box__input(type='text', placeholder='Онегин', pattern=".*", required)
        .add-place__actions.clearfix
          a.add-place__terms Пользовательское соглашение
          a.add-place__next.button.button_first(href='add-place/step2.html') Следующий шаг
