extends ./templates/main.jade

block title
  | Event

block content
  .container
    main.event-page
      .event-page__bread
        ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link Главная
          li.breadcrumbs__item
            a.breadcrumbs__link Мероприятия Волгограда
          li.breadcrumbs__item
            a.breadcrumbs__link Второй кекс в подарок
      .event-page__body.event
        .event__map#map
        .event__header.clearfix
          .event__title-block
            h3.event__title Второй кекс в подарок
            span.event__type Мероприятие
          .event__follow.sticker-button
            button.button.button_second.button_watch.sticker-button__button Следить
            span.sticker 667
        .event__body
          .event__when
            | Дата проведения: 
            time.event__date(datetime='2017-03-23') 23 марта 2017
          .event__where
            | Место: 
            a.event__sublink Гуакамоле
            span.event__address — Глубокоовражная ул., 6, Волгоград, Волгоградская обл., 400087
          p.event__text.text Мы поощряем активность наших пользователей баллами, которые в дальнейшем можно будет обменивать на бонусы и скидки от партнеров программы. Как их получить? Для полу- чения подробной информации перейдите в наш раздел «Бонусная программа». (14pt)
          .event__photo-container
            img.event__photo
        .event__footer
          .activity.clearfix
            .activity__likes
              a.activity__like
              span.activity__number 138
            a.activity__share
        .event__comments.event-comments
          a.event-comments__more Показать все 18 комментариев
          ul.event-comments__list
            - for (var x = 0; x < 3; x++)
              li.event-comments__item.event-comment
                .event-comment__avatar-container.avatar.avatar_24
                  img.event-comment__avatar
                .event-comment__body
                  .event-comment__name Катериночка Мяуковская
                  .event-comment__text.text В чащах юга жил был цитрус? Да, но фальшивый экземпляр! (12pt)
                  .event-comment__info.clearfix
                    time.event-comment__time(datetime='2017-01-18') 18 января 2017
                    .event-comment__likes
                      | 42 
                      span.event-comment__like
          .event-comments__write.event-write#commenting-parent
            .event-write__avatar-container.avatar.avatar_24
              img.event-write__avatar
            form.event-write__form
              input.event-write__input#commenting-input(type='text', placeholder='Написать комментарий')
            .event-write__writing.clearfix#commenting-foot
              span.event-write__char-counter#commenting-count 0 из 319 символов
              button.button.button_first.event-write__send Отправить

      aside.event-page__sidebar
        .event-page__city-events.city-events
          .city-events__topic.topic
            span.topic__name мероприятия волгоградаa
          a.city-events__more Eще
          .city-events__body
            ul.city-events__list
              - for (var x = 0; x < 5; x++)
                li.city-events__item.city-event
                  .city-event__image-container.place.place_48
                    img.city-event__image
                  .city-event__body
                    span.city-event__name Berkeley Restaurant Week
                    span.city-event__place Cinnabon
                    time.city-event__dates 26 сент 2017 — 28 окт 2018
        .event-page__blog.blog
          .blog__topic.topic
            span.topic__name наш блог
          a.blog__more Другие записи в блоге
          ul.blog__list
            - for (var x = 0; x < 3; x++)
              li.blog__item
                a.blog__photo-container
                  img.blog__photo
                .blog__descr
                  .blog__info
                    time.blog__date 26 сент 2017
                    span.blog__text Тонкости выбора ботинок для горных лыж
        .event-page__discussions.discussions
          .discussions__topic.topic
            span.topic__name обсуждения
          a.discussions__more Все обсуждения
          ul.discussions__list
            - for (var x = 0; x < 3; x++)
              li.discussions__item.discus-item
                .discus-item__avatar-container.avatar.avatar_48_man
                  img.discus-item__avatar
                .discus-item__body
                  span.discus-item__name Катериночка Мяуковская
                  span.discus-item__info Сегодня в 19:30 к «Доставка вкусностей в любой район города» в @placename
                  p.discus-item__text.text(data-expand-words='12')
                    | Итальянское кафе , по мне одна из самых вкусных кухонь нашего города, лето … 
                    a.discus-item__more.expand-text Читать полностью

block scripts
  script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', async)