extends ./templates/main.jade

block title
  | Forgot password

block content
  .container
    main.auth
      .auth__breadcrumbs
        ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link Главная
          li.breadcrumbs__item
            a.breadcrumbs__link Восстановление пароля
      .auth__window.auth__window_md
        h1.auth__title Забыли пароль
        .auth__body
          form.auth__forgot-password.forgot-password
            .forgot-password__input.input-box
              input.text-input.input-box__input(type='text', placeholder='Придумайте пароль', pattern=".*", required)
            .forgot-password__captcha
              .forgot-password__captcha-field.input-box
                label.input-box__label Введите код с картинки
                input.text-input.input-box__input(type='text', pattern=".*", required)
              .forgot-password__captcha-img
            button.button.button_first.forgot-password__reset Сбросить пароль
      .auth__acc Уже есть аккаунт? 
        a.auth__register Войти