extends ./templates/frontpage.jade

block title 
  | Front page

block content
  .container
    main.front-main
      .front-main__body
        .front-main__tabs-box
          ul.front-main__tabs.tabs
            li.tabs__item
              a.tabs__link.tabs__link_active Все записи
            li.tabs__item
              a.tabs__link Моя лента

        section.front-main__entry
          include organisms/content-photo1

        section.front-main__entry
          include organisms/new-review

        section.front-main__entry
          include organisms/new-place

        section.front-main__entry
          include organisms/new-promo

        section.front-main__entry
          include organisms/content-photo2

        section.front-main__entry
          include organisms/content-photo3

        section.front-main__entry
          include organisms/content-photo4

        section.front-main__entry
          include organisms/content-photo5

        .front-main__other
          button.front-main__other-button.button.button_other К предыдущим записям

        section.front-main__entry.front-main__entry_new-places.new-places
          .new-places__topic.topic
            span.topic__name новые места на foxy
          ul.new-places__list
            - for (var x = 0; x < 3; x++)
              li.new-places__item
                a.new-places__photo-container
                  img.new-places__photo
                .new-places__body
                  .new-places__info
                    span.new-places__name Ресторан Волгоград
                    span.new-places__rating.rating(
                      data-rateit-readonly='true'
                      data-rateit-value='3.5'
                      )

      aside.front-sidebar
        .front-sidebar__month-place
          include organisms/month-place

        .front-sidebar__day-review
          include organisms/day-review

        .front-sidebar__city-events
          include organisms/city-events

        .front-sidebar__blog
          include organisms/blog

        .front-sidebar__discussions
          include organisms/discussions