extends ./templates/main.jade

block title
  | Login

block content
  .container
    main.auth
      .auth__breadcrumbs
        ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link Главная
          li.breadcrumbs__item
            a.breadcrumbs__link Вход в аккаунт
      .auth__window.auth__window_sm
        .auth__info
          .auth__head
            h1.auth__title Войти в фокси
            span.auth__description.auth__description_login
              | Не знакомы с фокси? 
              a.auth__register Зарегистрируйтесь
          .auth__body
            form.auth__login.login
              h2.login__title Вход через электронную почту
              .login__email.input-box
                input.text-input.input-box__input(type='text', placeholder='Придумайте пароль', pattern=".*", required)
              .login__password.input-box
                input.text-input.input-box__input(type='text', placeholder='Подтвердите пароль введя его еще раз', pattern=".*", required)
              a.login__forgot Забыли пароль?
              button.button.button_first.login__in Войти
              span.login__extra.clearfix
                | Нет аккаунта? 
                a.login__register Зарегистрируйтесь
              .login__socials
                h2.login__title.login__title_center Быстрый вход через соцсети
                ul.login__list
                  li.login__item
                    a.login__link.login__link_gg
                  li.login__item
                    a.login__link.login__link_fb
                  li.login__item
                    a.login__link.login__link_vk