extends ./templates/main.jade

block title
  | Login

block content
  main.auth
    .container
      .auth__breadcrumbs.auth__breadcrumbs_login
        ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link Главная
          li.breadcrumbs__item
            a.breadcrumbs__link Вход в аккаунт
      .auth__window
        .auth__head
          h1.auth__title Войти
          ul.auth__socials
            li.auth__social
              a.auth__social-link.auth__social-link_gg
            li.auth__social
              a.auth__social-link.auth__social-link_fb
            li.auth__social
              a.auth__social-link.auth__social-link_vk
        .auth__or
          .auth__or-text или
        .auth__body
          form.auth__login.login.clearfix
            .login__email.input-box
              input.text-input.input-box__input(type='text', placeholder='e-mail', pattern=".*", required)
            .login__password.input-box
              input.text-input.input-box__input(type='text', placeholder='Пароль', pattern=".*", required)
            .login__remember.checkbox-box
              .checkbox.checkbox-box__checkbox
                input.checkbox__input#checkbox2(type='checkbox', name='checkbox')
                label.checkbox__label(for='checkbox2')
              label.checkbox-box__label(for='checkbox2') Запомнить меня
            a.login__forgot Забыли пароль?
            button.button.button_first.login__in Войти
      .auth__begin
        span.auth__begin-title Начни сегодня
        p.auth__begin-text Пиши отзывы, добавляй фотографии к заведениям, зарабатывай баллы и становить экспертом. Получай задания на написание обзоров заведений для нашего блога с компенсацией счета — ешь бесплатно
      .auth__acc Нет аккаунта? 
        a.auth__register Зарегистрируйтесь