extends ./templates/services.jade

block title
  | molecules

block styleLinks
  link(rel='stylesheet', href='css/molecules-page.css')

block content
  h1.head Молекулы
  .block
    h2 Формы, чекбоксы, раскрывающиеся списки
    .inputs
      .ta-box
        label.ta-box__label Заголовок
        textarea.textarea.ta-box__ta(placeholder='Ваш текст')
      .ta-box
        label.ta-box__label.ta-box__label_disabled Заголовок
        textarea.textarea.ta-box__ta(placeholder='Ваш текст', disabled)

      .ta-box
        label.ta-box__label Заголовок
        textarea.textarea.textarea_error.ta-box__ta(placeholder='Ваш текст')
      .input-box
        label.input-box__label Заголовок
        input.text-input.text-input_error.input-box__input(type='text', placeholder='Нормальное состояние')
        span.input-box__error Текст ошибки
        
      .input-box
        label.input-box__label Имя
        input.text-input.input-box__input(type='text', value='Катериночка мяуковская', placeholder='Нормальное состояние', pattern=".*", required)
      .input-box
        label.input-box__label.input-box__label_disabled Заголовок
        input.text-input.input-box__input(type='text', placeholder='Нормальное состояние', disabled, pattern=".*", required)
      .input-box
        label.input-box__label Заголовок
        input.text-input.input-box__input(type='text', placeholder='Нормальное состояние', pattern=".*", required)
      .input-box
        label.input-box__label.input-box__label_disabled Заголовок
        input.text-input.input-box__input(type='text', placeholder='Нормальное состояние', disabled, pattern=".*", required)
      .select-box
        label.select-box__label Заголовок
        select.select.select-box__select
          option(default, data-disabled) Не выбрано
          - for (var x = 1; x <= 5; x++)
            option(value='#{x}') Пункт #{X}
      .select-box.select-box_disabled
        label.select-box__label Заголовок
        select.select.select-box__select
          option(default, data-disabled) Не выбрано
          - for (var x = 1; x <= 5; x++)
            option(value='#{x}') Пункт #{X}
      .radio-box
        .radio.radio-box__radio
          input.radio__input#radio1(type='radio', name='radio', checked)
          label.radio__label(for='radio1')
        label.radio-box__label(for='radio1') Заголовок
      .radio-box
        .radio.radio-box__radio
          input.radio__input#radio2(type='radio', name='radio')
          label.radio__label(for='radio2')
        label.radio-box__label(for='radio2') Заголовок
      .radio-box.radio-box_disabled
        .radio.radio-box__radio
          input.radio__input#radio3(type='radio', name='radioo', checked, disabled)
          label.radio__label(for='radio3')
        label.radio-box__label(for='radio3') Заголовок
      .radio-box.radio-box_disabled
        .radio.radio-box__radio
          input.radio__input#radio4(type='radio', name='radioo', disabled)
          label.radio__label(for='radio4')
        label.radio-box__label(for='radio4') Заголовок

      .checkbox-box
        .checkbox.checkbox-box__checkbox
          input.checkbox__input#checkbox1(type='checkbox', name='checkbox', checked)
          label.checkbox__label(for='checkbox1')
        label.checkbox-box__label(for='checkbox1') Заголовок
      .checkbox-box
        .checkbox.checkbox-box__checkbox
          input.checkbox__input#checkbox2(type='checkbox', name='checkbox')
          label.checkbox__label(for='checkbox2')
        label.checkbox-box__label(for='checkbox2') Заголовок
      .checkbox-box.checkbox-box_disabled
        .checkbox.checkbox-box__checkbox
          input.checkbox__input#checkbox3(type='checkbox', name='checkboxo', checked, disabled)
          label.checkbox__label(for='checkbox3')
        label.checkbox-box__label(for='checkbox3') Заголовок
      .checkbox-box.checkbox-box_disabled
        .checkbox.checkbox-box__checkbox
          input.checkbox__input#checkbox4(type='checkbox', name='checkboxo', disabled)
          label.checkbox__label(for='checkbox4')
        label.checkbox-box__label(for='checkbox4') Заголовок
  .block
    h2 Лента активности, главки
    include molecules/activity.jade
    .topic
      span.topic__name chapter
  .block
    h2 Кнопки
    .sticker-button
      button.button.button_subscr.sticker-button__button Подписаться
      span.sticker 667
    .sticker-button
      button.button.button_second.button_watch.sticker-button__button Следить
      span.sticker 667