<!DOCTYPE>
html
  head
    meta(charset='utf-8')
    title molecules
    
    link(rel='stylesheet', href='css/molecules-page.css')
  body
    h1.head Организмы
    .block
      h2 Формы, чекбоксы, раскрывающиеся списки
