extends ./templates/main.jade

block title
  | New places

block content
  .container
    main.newplaces-page
      .newplaces-page__bread
        ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link Главная
          li.breadcrumbs__item
            a.breadcrumbs__link Кафе и рестораны Волгограда
      .newplaces-page__categories
        include ./organisms/categories
      .newplaces-page__body
        section.newplaces-page__places.places
          ul.places__list
            li.places__item.placecard
              .placecard__photo-container
                img.placecard__photo
              .placecard__body
                .placecard__title BellevilleCafe
                span.placecard__plate открылся 19 фев 2017
                .placecard__info
                  span.placecard__type Ресторан, кафе, бар 
                  span.placecard__address Волгоград, ул. Мира, 12
                .placecard__offers
                  span.placecard__prices 500-800 руб
                  span.placecard__menu Европейская, азиатская, русская, украинская ...
                .placecard__review.placecard__review_np … отлично для своей ценовой категории. Уютно, тихо. Вкусные завтраки в кафе внизу …
                .placecard__footer.clearfix
                  .placecard__social
                    span.placecard__rating-text 17 из 238
                    span.placecard__rating.rating_13(data-rateit-readonly='true', data-rateit-value='3.5')
                    a.placecard__reviews 18 отзывов
                  span.placecard__schedule Ежедневно с 08:00 до 23:00
            li.places__item.placecard
              .placecard__photo-container
                img.placecard__photo
              .placecard__body
                .placecard__title.placecard__title_np Spa-салон «Веселые каркульки»
                span.placecard__plate.placecard__plate_soon открытие 19 фев 2017 в 19:30
                .placecard__info
                  span.placecard__type Ресторан, кафе, бар 
                  span.placecard__address Волгоград, ул. Мира, 12
                .placecard__offers.placecard__offers_soon
                .placecard__review.placecard__review_first
                  button.placecard__review-button.placecard__review-button_soon.button.button_second.button_watch Написать первый отзыв
                .placecard__footer.clearfix
                  .placecard__social
                    span.placecard__rating-text 17 из 238
                    span.placecard__rating.rating_13(data-rateit-readonly='true', data-rateit-value='3.5')
                    a.placecard__reviews 0 отзывов
                  span.placecard__schedule Круглосуточно
            - for (var i = 0; i < 4; i++)
              li.places__item.placecard
                .placecard__photo-container
                  img.placecard__photo
                .placecard__body
                  .placecard__title BellevilleCafe
                  span.placecard__plate открылся 19 фев 2017
                  .placecard__info
                    span.placecard__type Ресторан, кафе, бар 
                    span.placecard__address Волгоград, ул. Мира, 12
                  .placecard__offers
                    span.placecard__prices 500-800 руб
                    span.placecard__menu Европейская, азиатская, русская, украинская ...
                  .placecard__review.placecard__review_np … отлично для своей ценовой категории. Уютно, тихо. Вкусные завтраки в кафе внизу …
                  .placecard__footer.clearfix
                    .placecard__social
                      span.placecard__rating-text 17 из 238
                      span.placecard__rating.rating_13(data-rateit-readonly='true', data-rateit-value='3.5')
                      a.placecard__reviews 18 отзывов
                    span.placecard__schedule Ежедневно с 08:00 до 23:00
        .newplaces-page__other
          button.button.button_other К предыдущим записям
        section.newplaces-page__new-places
          include ./organisms/new-places
      aside.newplaces-page__sidebar
        .newplaces-page__filters.filters
          .filters__topic.topic
            span.topic__name фильтры
          ul.filters__list
            li.filters__item
              .select-box
                label.select-box__label Услуги
                select.select.select-box__select
                  option(default, data-disabled) Не выбрано
                  - for (var x = 1; x <= 5; x++)
                    option(value='#{x}') Пункт #{X}
            li.filters__item
              .select-box
                label.select-box__label Типы кухн
                select.select.select-box__select
                  option(default, data-disabled) Не выбрано
                  - for (var x = 1; x <= 5; x++)
                    option(value='#{x}') Пункт #{X}
            li.filters__item
              ul.filters__sublist
                li.filters__subitem
                  .checkbox-box
                    .checkbox.checkbox-box__checkbox
                      input.checkbox__input#checkbox2(type='checkbox', name='checkbox')
                      label.checkbox__label(for='checkbox2')
                    label.checkbox-box__label(for='checkbox2') Работает круглосуточно
                li.filters__subitem
                  .checkbox-box
                    .checkbox.checkbox-box__checkbox
                      input.checkbox__input#checkbox2(type='checkbox', name='checkbox', checked)
                      label.checkbox__label(for='checkbox2')
                    label.checkbox-box__label(for='checkbox2') Только новые места
                li.filters__subitem
                  .checkbox-box
                    .checkbox.checkbox-box__checkbox
                      input.checkbox__input#checkbox2(type='checkbox', name='checkbox')
                      label.checkbox__label(for='checkbox2')
                    label.checkbox-box__label(for='checkbox2') Оплата картой
                li.filters__subitem
                  .checkbox-box
                    .checkbox.checkbox-box__checkbox
                      input.checkbox__input#checkbox2(type='checkbox', name='checkbox')
                      label.checkbox__label(for='checkbox2')
                    label.checkbox-box__label(for='checkbox2') Парковка
                li.filters__subitem
                  .checkbox-box
                    .checkbox.checkbox-box__checkbox
                      input.checkbox__input#checkbox2(type='checkbox', name='checkbox')
                      label.checkbox__label(for='checkbox2')
                    label.checkbox-box__label(for='checkbox2') Wi-fi
        .newplaces-page__add
          button.newplaces-page__add-button.button.button_main Добавить место
        .newplaces-page__city-events
          include ./organisms/city-events
        .newplaces-page__blog
          include ./organisms/blog
        .newplaces-page__discussions
          include ./organisms/discussions