extends ./templates/services.jade

block title
  | organisms

block styleLinks
  link(rel='stylesheet', href='css/organisms-page.css')

block content
  h1.head Организмы
  .block
    h2 Фотоконтент в ленте активности
    span.block__descr Компановка карточек в 5 вариантах. Карточки лежат на сером фоне

  include ./organisms/content-photo1
  include ./organisms/content-photo2
  include ./organisms/content-photo3
  include ./organisms/content-photo4
  include ./organisms/content-photo5

  .block
    h2 Пользовательский контент в ленте активности
    span.block__descr Пользователь добавил место и новый отзыв. Карточки лежат на сером фоне


  include ./organisms/new-place
  include ./organisms/new-review

  .block
    h2 Медиаконтент от бизнеса
    span.block__descr Бизнес опубликовал событие и акцию в ленте активности

  include ./organisms/new-promo

  .block
    h2 Карточка места
    span.block__descr Выводится на странице категорий
  .block
    h2 Новые места на фокси
    span.block__descr Блок выводится в нижней части странички

  include ./organisms/new-places
  include ./organisms/month-place
  include ./organisms/day-review
  include ./organisms/city-events
  include ./organisms/blog
  include ./organisms/discussions