extends ./templates/services.jade

block title
  | Photogallery

block styleLinks
  link(rel='stylesheet', href='css/main.css')
  link(rel='stylesheet', href='css/photogallery.css')

block content
  div(style='background-color: rgba(0, 0, 0, .5);')
    .photogallery
      .photogallery__close
      .photogallery__window
        .photogallery__view
          .photogallery__photo-container
            span.photogallery__arrow.photogallery__arrow_left
            span.photogallery__arrow.photogallery__arrow_right
            img.photogallery__photo(src='http://placehold.it/344x382')
          .photogallery__info
            span.photogallery__category Фотографии в Онегин
            span.photogallery__count 2 из 178
            span.photogallery__report(data-popup='modal-report') Пожаловаться на фотографию
          .photogallery__main
            .photogallery__head
              .photogallery__avatar-container.avatar.avatar_48_woman
                img.photogallery__avatar
              .photogallery__author
                span.photogallery__name Катериночка мяуковская
                time(datetime='2017-01-04T18:31').photogallery__date 4 января в 18:31
            .photogallery__body
              .photogallery__description.text Мы поощряем активность наших пользователей баллами, которые в дальнейшем можно будет обменивать на бонусы и скидки от партнеров программы. Как их получить? Для полу- чения подробной информации перейдите в наш раздел «Бонусная программа». (14pt)Мы поощряем активность наших пользователей баллами, которые в дальнейшем можно будет обменивать на бонусы и скидки от партнеров программы. Как их получить? Для полу- чения подробной информации перейдите в наш раздел «Бонусная программа». (14pt)Мы поощряем активность наших пользователей баллами, которые в дальнейшем можно будет обменивать на бонусы и скидки от партнеров программы. Как их получить? Для полу- чения подробной информации перейдите в наш раздел «Бонусная программа». (14pt) получить? Для полу- чения подробной информации перейдите в наш раздел «Бонусная программа». (14pt)Мы поощряем активность наших пользователей баллами, которые в дальнейшем можно будет обменивать на бонусы и скидки от партнеров программы. Как их получить? Для полу- чения подробной информации перейдите в наш раздел «Бонусная программа». (14pt)
            .photogallery__foot
              .photogallery__like
                .photogallery__like-icon
                span.photogallery__like-text Мне нравится
    .photogallery
      .photogallery__close
      .photogallery__window
        .photogallery__view
          .photogallery__photo-container
            span.photogallery__arrow.photogallery__arrow_left
            span.photogallery__arrow.photogallery__arrow_right
            img.photogallery__photo(src='http://placehold.it/344x382')
          .photogallery__info
            span.photogallery__category Фотографии в Онегин
            span.photogallery__count 2 из 178
            span.photogallery__report(data-popup='modal-report') Пожаловаться на фотографию
          .photogallery__main
            .photogallery__head
              .photogallery__avatar-container.avatar.avatar_48_woman
                img.photogallery__avatar
              .photogallery__author
                span.photogallery__name Катериночка мяуковская
                time(datetime='2017-01-04T18:31').photogallery__date 4 января в 18:31
            .photogallery__body
              .photogallery__description.text Мы поощряем активность наших пользователей баллами, которые в дальнейшем можно будет обменивать на бонусы 
            .photogallery__foot
              .photogallery__like
                .photogallery__like-icon
                span.photogallery__like-text Мне нравится

    .modal#modal(data-id='modal-report')
      .modal__window.modal__window_wd
        .modal__head.clearfix
          span.modal__title Обращение в техподдержку
          .modal__close#modal-close
        .modal__body
          .modal__select.select-box
            label.select-box__label Выберите причину нарушения
            select.select.select-box__select
              option(default, data-disabled) Не выбрано
              option Это спам
              option Нарушение авторских прав
              option Порнографическое содержание
              option Оскорбительная фотография
          .modal__ta.ta-box
            label.ta-box__label Текст обращения
            textarea.textarea.ta-box__ta(placeholder='Ваш текст')
        .modal__foot.clearfix
          .modal__actions
            button.modal__subaction#modal-sub Отмена
            button.button.button_first.modal__main-action Отправить