extends ./templates/main.jade

block title
  | Reset password

block content
  .container
    main.auth
      .auth__breadcrumbs
        ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link Главная
          li.breadcrumbs__item
            a.breadcrumbs__link Сброс пароля
      .auth__window.auth__window_md
        h1.auth__title Сброс пароля
        .auth__body
          form.auth__reset-password.reset-password
            .reset-password__input.input-box
              input.text-input.input-box__input(type='text', placeholder='Придумайте пароль', pattern=".*", required)
            .reset-password__input.input-box
              input.text-input.input-box__input(type='text', placeholder='Подтвердите пароль введя его еще раз', pattern=".*", required)
            button.button.button_first.reset-password__reset(data-modal='modal-reset') Сбросить пароль
      .modal#modal(data-id='modal-reset')
        .modal__window.modal__window_wd
          .modal__head.clearfix
            span.modal__title Восстановление пароля
            .modal__close#modal-close
          .modal__body
            span.text На вашу электронную почту отправлена информация по восстановлению пароля
      .auth__acc Уже есть аккаунт? 
        a.auth__register Войти