extends ./templates/main.jade

block title
  | Static page

block content
  .container
    .static
      .static__breadcrumbs
        ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link Главная
          li.breadcrumbs__item
            a.breadcrumbs__link О нас
      .static__window
        .static__content
          h1 О сервисе Фоллоу фокси
          p
            b Followfoxy.com
            |  – это удобный рекомендательный сервис по компаниям и местам городов России для туристов и тех, кто хочет быть в центре всех интересных событий. Здесь вы всегда найдете информацию о сервисе и каче- стве услуг, а также только самые актуальные и свежие новости о предложениях предпри- ятий того или иного региона.
          br
          br
          h2 Интересно, полезно, актуально
          p Если вы хотите организовать свой отдых максимально комфортно, оптимизировав предсто- ящие при этом траты, если вы ищите возможности для интересного общения с единомыш- ленниками, хотите поделиться своим опытом сотрудничества с предприятиями и организа- циями города, - мы то, что вам нужно!
          br
          br
          h2 Мы предлагаем вам:
          p информацию о заведениях, компаниях, магазинах, сервисах и услугах города;
          p возможность прочесть и написать отзывы об их работе;
          p возможность формировать свою целевую аудиторию;
          p возможность следить за новостями и событиями заинтересовавших вас компаний;
          p познакомиться с информацией о том, где можно поесть, остановиться на ночь, приобре- сти необходимый товар, получить качественный сервис и многое другое.
          br
          p
            b Фоллоу фокси
            |   – это живая и саморазвивающаяся структура. Пользователи могут сами добав- лять бизнес проекты и сразу же писать о них отзывы. Наша база данных о предприятиях го- родов России пополняется самими посетителями ресурса. И что особенно ценно – мы не устанавливаем территориальных границ – посетители сайта могут написать отзыв о компа- нии из любой точки планеты.
          br
          br
          h2 Активность на сайте = бонусы и скидки
          p Мы поощряем активность наших пользователей баллами, которые в дальнейшем можно будет обменивать на бонусы и скидки от партнеров программы. Как их получить? Для полу- чения подробной информации перейдите в наш раздел «Бонусная программа».
