extends ./templates/main.jade

block title
  | User

block content
  .container 
      main.user-page
        .user-page__bread
          ul.breadcrumbs
            li.breadcrumbs__item
              a.breadcrumbs__link Главная
            li.breadcrumbs__item
              a.breadcrumbs__link Мероприятия Волгограда
        aside.user-page__sidebar.user-sidebar
          .user-sidebar__head
            .user-sidebar__status Эксперт
            .user-sidebar__avatar-container.avatar.avatar_120
              img.user-sidebar__avatar
          .user-sidebar__body
            .user-sidebar__user Катериночка Мяуковская
            .user-sidebar__city Россия, Волгоград
            .user-sidebar__subscribe
              .sticker-button
                button.button.button_subscr.sticker-button__button Подписаться
                span.sticker 667
          .user-sidebar__menu.user-menu
            ul.user-menu__list
              - var menuItem = ["Активность", "Отзыв", "Фотографии", "Подписчики", "Я подписан", "События и акции", "Закладки"]
              - var menuLink = ["activity", "reviews", "photos", "follow", "follow", "events", "favorites"]
              - for (var i = 0; i < 7; i++)
                li.user-menu__item
                  a.user-menu__link(href='user/#{menuLink[i]}.html')= menuItem[i]
              li.user-menu__item
                a.user-menu__link(href='user/notifications.html')
                  | Уведомления 
                  span.user-menu__new +12 новых