footer.footer
  .container
    .footer__top.clearfix
      .footer__content
        ul.footer__menu
          - var menu = ["О сервисе", "Бонусная программа", "Для бизнеса", "Добавить место", "Блог фоллоуфокси"];
          each item in menu
            li.footer__menu-item
              a.footer__menu-link= item
        ul.footer__submenu
          - var submenu = ["Конфиденциальность", "Условия использования", "Как написать отзыв?", "Контакты", "Карта сайта"];
          each item in submenu
            li.footer__submenu-item
              a.footer__submenu-link= item
      button.footer__support.button.button_first(data-popup='modal-support') Написать в поддержку
    .footer__bottom
      span.footer__copyright Авторское право © 2017, Followfoxy. Design by MADE
  .modal#modal(data-id='modal-support')
    .modal__window
      .modal__head.clearfix
        span.modal__title Обращение в техподдержку
        .modal__close#modal-close
      .modal__body
        .modal__select.select-box
          label.select-box__label Выберите причину нарушения
          select.select.select-box__select
            option(default, data-disabled) Не выбрано
            - for (var x = 1; x <= 5; x++)
              option(value='#{x}') Пункт #{X}
        .modal__ta.ta-box
          label.ta-box__label Текст обращения
          textarea.textarea.ta-box__ta(placeholder='Ваш текст')
      .modal__foot.clearfix
        .modal__actions
          button.modal__subaction#modal-sub Отмена
          button.button.button_first.modal__main-action Отправить