header.front-header
  .front-header__back-container
    img.front-header__back(src='img/frontback.jpg')
  .container
    .front-header__top.clearfix
      ul.front-header__menu
        li.front-header__menu-item
          a.front-header__menu-link События и акции
        li.front-header__menu-item
          a.front-header__menu-link Обсуждения
        li.front-header__menu-item
          a.front-header__menu-link Добавить место
      a.front-header__login Войти
    .front-header__body
      .front-header__logo.logo
        a.logo__link
          img.logo__img(src='img/logo-foxy.svg', width='180')
      h1.front-header__title Поиск компаний и услуг в @cityname
      form.front-header__search.clearfix
        input.front-header__input(type='text', value="Кафе, хинкальная или spa-салон")
        ul.front-header__input-popup.search-popup
          - var search = ['Слиffки Общества', 'Онегин', 'Маруся'];
          each item in search
            li.search-popup__item
              a.search-popup__link
                span.search-popup__name= item
                span.search-popup__address Волгоград, ул. Мира, 2
        input.front-header__city
        button.front-header__button Поиск