header.header
  .container
    .header__logo.logo
      a.logo__link
        img.logo__img(src='img/logo-foxy.svg')
    .header__body
      form.header__search
        input.header__input(type='text', value='Кафе, хинкальная или spa-салон')
        ul.header__input-popup.search-popup
          - var search = ['Слиffки Общества', 'Онегин', 'Маруся'];
          each item in search
            li.search-popup__item
              a.search-popup__link
                span.search-popup__name= item
                span.search-popup__address Волгоград, ул. Мира, 2
        span.header__world
        input.header__city(type='text', value='Днепропетровск')
        ul.header__city-popup.city-popup
          - var search = ['Ростов', 'Россия', 'Рукавишниково'];
          each item in search
            li.city-popup__item
              a.city-popup__link
                span.city-popup__name= item
        button.header__button
      .header__categories.head-cats
        ul.head-cats__list
          li.head-cats__item
            a.head-cats__link.head-cats__link_rests Кафе и рестораны
          li.head-cats__item
            a.head-cats__link.head-cats__link_night Ночная жизнь
          li.head-cats__item
            a.head-cats__link.head-cats__link_hotels Отели
          li.head-cats__item
            a.head-cats__link.head-cats__link_ease Развлечения и досуг
          li.head-cats__item.head-cats__item_more
            a.head-cats__link.head-cats__link_more(data-popup = 'click', data-href='#head-subcats')  Еще
            ul.head-cats__sublist#head-subcats(data-popup = 'window')
              li.head-cats__subitem.head-subitem
                a.head-subitem__link.head-subitem__link_delivery Доставка
              li.head-cats__subitem.head-subitem
                a.head-subitem__link.head-subitem__link_stores Магазины
              li.head-cats__subitem.head-subitem
                a.head-subitem__link.head-subitem__link_presents Торжество и подарки
              li.head-cats__subitem.head-subitem
                a.head-subitem__link.head-subitem__link_fitness Фитнес
              li.head-cats__subitem.head-subitem
                a.head-subitem__link.head-subitem__link_beauty Красота и СПА
              li.head-cats__subitem.head-subitem
                a.head-subitem__link.head-subitem__link_medicine Медицина
              li.head-cats__subitem.head-subitem
                a.head-subitem__link.head-subitem__link_animals Животные
    .header__social
      .header__notifications.head-notifs(data-popup = 'click', data-href='#head-notifs')
        .head-notifs__icon
        span.head-notifs__number 5
        .head-notifs__popup#head-notifs(data-popup = 'window')
          h5.head-notifs__title Уведомления
          ul.head-notifs__list
            - for (var i = 0; i < 5; i++)
              li.head-notifs__item.user-notif.user-notif_popup
                .user-notif__avatar-container.avatar.avatar_48_man
                  img.user-notif__avatar
                .user-notif__body
                  .user-notif__title
                    | Эдуард Пирожков 
                    span.user-notif__action оценил ваш отзыв о 
                    | BellevilleCafe
                  time.user-notif__date(datetime='2017-01-17') 17 января 2017
                  span.user-notif__status.user-notif__status_popup
          .head-notifs__more Показать всё
      .header__user.head-user(data-popup = 'click', data-href='#head-profile')
        .head-user__photo-container.avatar.avatar_36_man
          img.head-user__photo
        .head-user__profile#head-profile(data-popup = 'window')
          .head-user__user
            .head-user__photo-container.avatar.avatar_48_man
              img.head-user__photo
            .head-user__info
              .head-user__title Алексей
              .head-user__address Волгоград, Россия
          ul.head-user__menu
            li.head-user__menu-item.head-user__menu-item_projects
              a.head-user__action(href='#')
                | Проекты
              ul.head-user__projects
                li.head-user__project
                  a.head-user__project-link(href='#') Онегин
                li.head-user__project
                  a.head-user__project-link(href='#') BellevilleCafe
                li.head-user__project
                  a.head-user__project-link(href='#') Гуакамоле
                li.head-user__project
                  a.head-user__project-link(href='#') RedWood
            li.head-user__menu-item
              a.head-user__action(href='#') Моя страница
            li.head-user__menu-item
              a.head-user__action(href='#') Закладки
            li.head-user__menu-item
              a.head-user__action(href='#') Редактировать
          a.head-user__quit Выйти