extends ../templates/place.jade

block title
  | Информация

block content
  .place-page__body.place-overview
    section.place-overview__gallery.place-overview-gallery
      .place-overview-gallery__back-container
        img.place-overview-gallery__back
      .place-overview-gallery__add-photo Добавить фото
      ul.place-overview-gallery__photos
        - for (var i = 0; i < 8; i++)
          li.place-overview-gallery__photo-item
            a.place-overview-gallery__photo-link
              img.place-overview-gallery__photo
        li.place-overview-gallery__photo-item
            a.place-overview-gallery__photo-link
              img.place-overview-gallery__photo
              span.place-overview-gallery__more + 289
    section.place-overview__info.place-overview-info
      h2.place-overview-info__title Информация
      .place-overview-info__body
        dl.place-overview-info__info
          dt.place-overview-info__term Описание
          dd.place-overview-info__descr.text
            | Мы поощряем активность наших пользователей баллами, которые в дальнейшем можно будет обменивать на бонусы и скидки от партнеров программы. Как их получить? Для полу- чения подробной информации перейдите в наш раздел «Бонусная программа». (14pt) 
            a.place-overview-info__more.expand-text(data-expand='4') Показать полностью
        dl.place-overview-info__info
          dt.place-overview-info__term Кухня
          dd.place-overview-info__descr.text Итальянская, русская, французская, азиатская, европейская
        dl.place-overview-info__info
          dt.place-overview-info__term Средний счёт
          dd.place-overview-info__descr.text 700–1500 руб.
        dl.place-overview-info__info
          dt.place-overview-info__term Особенности
          dd.place-overview-info__descr.text Парковка, wi-fi
        dl.place-overview-info__info
          dt.place-overview-info__term Меню
          dd.place-overview-info__descr
            ul.place-overview-info__menus
              - var menus = ['Барная карта', 'Основное меню', 'Коктейльная карта']
              each menu in menus
                li.place-overview-info__menu
                  a.place-overview-info__menu-link= menu
      ul.place-overview-info__socials
        li.place-overview-info__social
          a.place-overview-info__social-link.place-overview-info__social-link_vk ВКонтакте
        li.place-overview-info__social
          a.place-overview-info__social-link.place-overview-info__social-link_inst Instagram
        li.place-overview-info__social
          a.place-overview-info__social-link.place-overview-info__social-link_fb Facebook
    section.place-overview__ad.placepage-ad
      .placepage-ad__photo-container
        img.placepage-ad__photo
      .placepage-ad__body
        h3.placepage-ad__title BellevilleCafe
        span.placepage-ad__plate Реклама
        span.placepage-ad__rating.rating_14(data-rateit-value='3.5', data-rateit-readonly='true')
        span.placepage-ad__rating-number (118)
        span.placepage-ad__type Кафе, ресторан, бар, хинкальная
        span.placepage-ad__address Пр-т им. В.И. Ленина, 59, Волгоград, Волгоградская обл.
        p.placepage-ad__review … отлично для своей ценовой категории. Уютно, тихо. Вкусные завтраки в кафе внизу … 
    section.place-overview__add-review.placepage-add-review
      h2.placepage-add-review__title Оставьте отзыв
      form.placepage-add-review__form.clearfix#add-review
        .placepage-add-review__rating
          .placepage-add-review__rating-text Оцените это место
          span.placepage-add-review__rating-stars.rating
        textarea.placepage-add-review__ta.textarea(placeholder='Вам понравилось? Напишите')
        button.placepage-add-review__button.button.button_first#add-review-button Отправить
    section.place-overview__reviews.placepage-reviews
      .placepage-reviews__title Отзывы 
        span.placepage-reviews__number 189
      .placepage-reviews__body
        ul.placepage-reviews__list
          - for (var i = 0; i < 5; i++)
            li.placepage-reviews__item.placepage-review
              .placepage-review__avatar-container.avatar.avatar_48_woman
                img.placepage-review__avatar
              .placepage-review__body
                .placepage-review__other#review-other
                  .placepage-review__support.help.help_small.help_light.help_down.help_support#review-tooltip
                    a.help__link(data-modal='modal-support') Пожаловаться
                .placepage-review__name Катериночка Мяуковская
                .placepage-review__info
                  span.placepage-review__subs 73 подписчика
                  span.placepage-review__point
                  span.placepage-review__reviews-number 183 отзыва
                span.placepage-review__rating.rating(data-rateit-readonly='true', data-rateit-value='3.5')
                p.placepage-review__text.text Итальянское кафе , по мне одна из самых вкусных кухонь нашего города, летом всегда можно посидеть на летней веранде с друзьями или же наедине с кальяном, отдельный плюс за прекрасные десерты и выпечку хлеба которую делают своими руками, просто объедение!  …
                .placepage-review__extra.clearfix
                  time.placepage-review__date(datetime='2017-01-04T18:31') 4 января в 18:31
                  .placepage-review__actions
                    .placepage-review__like
                    .placepage-review__share
        span.placepage-reviews__more Показать ещё
    section.place-overview__events.place-overview-events
      .place-overview-events__title Мероприятия 
        span.place-overview-events__number 189
      .place-overview-events__body
        ul.place-overview-events__list
          - for (var i = 0; i < 3; i++)
            li.place-overview-events__item
              .place-overview-events__image-container
                img.place-overview-events__image
              .place-overview-events__name Открытие памятника Пушкину в Онегине
              time.place-overview-events__date(datetime='2016-03-28') 28 мар 2016
        .place-overview-events__more показать ещё
    section.place-overview__stocks.place-overview-stocks
      .place-overview-stocks__title Акции 
        span.place-overview-stocks__number 189
      .place-overview-stocks__body
        ul.place-overview-stocks__list
          - for (var i = 0; i < 3; i++)
            li.place-overview-stocks__item
              .place-overview-stocks__image-container
                img.place-overview-stocks__image
              .place-overview-stocks__name Открытие памятника Пушкину в Онегине
              time.place-overview-stocks__date(datetime='2016-03-28') 28 мар 2016
        .place-overview-stocks__more показать ещё
    section.place-overview__new-places
      include ../organisms/new-places