extends ../templates/place.jade

block title
  | Фотографии

block content
  .place-page__body.place-photos
    section.place-photos__main
      .place-photos__title Фотографии 
        span.place-photos__number 189
      .place-photos__body
        form.place-photos__add-files.add-photos
          span.add-photos__add-back
          .add-photos__add
            button.button.button_second Загрузите файлы
          span.add-photos__add-string или перетащите их мышью
        ul.place-photos__list
          - for (var i = 0; i < 15; i++)
            li.place-photos__item.place-photo-item
              a.place-photo-item__link
                img.place-photo-item__photo
        .place-photos__more показать еще
    section.place-photos__new-places.new-places
      .new-places__topic.topic
        span.topic__name новые места на foxy
      ul.new-places__list
        - for (var x = 0; x < 3; x++)
          li.new-places__item
            a.new-places__photo-container
              img.new-places__photo
            .new-places__body
              .new-places__info
                span.new-places__name Ресторан Волгоград
                span.new-places__rating.rating(
                  data-rateit-readonly='true'
                  data-rateit-value='3.5'
                  )