extends ../templates/place.jade

block title
  | Отзывы

block content
  .place-page__body.place-reviews
    section.place-reviews__add-review.placepage-add-review
      h2.placepage-add-review__title Оставьте отзыв
      form.placepage-add-review__form
        .placepage-add-review__rating
          .placepage-add-review__rating-text Оцените это место
          span.placepage-add-review__rating-stars.rating
        textarea.placepage-add-review__ta.textarea(placeholder='Вам понравилось? Напишите')
    section.place-reviews__reviews.placepage-reviews
      .placepage-reviews__title Отзывы 
        span.placepage-reviews__number 189
      .placepage-reviews__body
        ul.placepage-reviews__list
          - for (var i = 0; i < 5; i++)
            li.placepage-reviews__item.placepage-review
              .placepage-review__avatar-container.avatar.avatar_48
                img.placepage-review__avatar
              .placepage-review__body
                .placepage-review__other
                .placepage-review__name Катериночка Мяуковская
                .placepage-review__info
                  span.placepage-review__subs 73 подписчика
                  span.placepage-review__point
                  span.placepage-review__reviews-number 183 отзыва
                span.placepage-review__rating.rating(data-rateit-readonly='true', data-rateit-value='3.5')
                p.placepage-review__text.text Итальянское кафе , по мне одна из самых вкусных кухонь нашего города, летом всегда можно посидеть на летней веранде с друзьями или же наедине с кальяном, отдельный плюс за прекрасные десерты и выпечку хлеба которую делают своими руками, просто объедение!  …
                .placepage-review__extra.clearfix
                  time.placepage-review__date(datetime='2017-01-04T18:31') 4 января в 18:31
                  .placepage-review__actions
                    .placepage-review__like
                    .placepage-review__share
        span.placepage-reviews__more Показать ещё
    section.place-reviews__new-places
      include ../organisms/new-places

block sidebar
  .place-page__rating.place-rating#rating
    .place-rating__topic.topic
      span.topic__name отзывы с оценкой
    ul.place-rating__list
      - for (var i = 5; i > 0; i--)
        li.place-rating__item
          span.place-rating__stars.rating(data-rateit-readonly='true', data-rateit-value='#{i}')
          span.place-rating__number= i
            |  отзыва