extends ../templates/place.jade

block title
  | Акции

block content
  .place-page__body.place-sales
    section.place-sales__main
      .place-sales__title Акции 
        span.place-sales__number 9
      ul.place-sales__list
        - for (var i = 0; i < 3; i++)
          li.place-sales__item.place-sale
            .place-sale__photo-container
              img.place-sale__photo
            .place-sale__body
              a.place-sale__link Готовим сырный завтрак в Гуакамоле
              .place-sale__descr
                a.place-sale__sublink Гуакамоле, 
                time.place-sale__date(datetime='2016-02-23T18:00') 23 февраля 2016, сб 18:00
              .place-sale__type Акция
    section.place-sales__new-places
      include ../organisms/new-places