.cat-filter#cat-filter
  h1.cat-filter__title Кафе и рестораны Волгограда
  ul.cat-filter__list.active
    li.cat-filter__item
      button.tag.tag_active Тег
        span.tag__number 17
    - for (var x = 0; x < 14; x++)
      li.cat-filter__item
        button.tag Тег
          span.tag__number 17
  ul.cat-filter__list.cat-filter__list_all
    li.cat-filter__item.cat-filter__item_all
      a.cat-filter__link.cat-filter__link_active Ресторан
    - for (var x = 0; x < 15; x++)
      li.cat-filter__item.cat-filter__item_all
        a.cat-filter__link Ресторан
  .cat-filter__other#catfilter-switcher(data-alt='скрыть все категории') все 18 категорий