.city-events
  .city-events__topic.topic
    span.topic__name мероприятия волгоградаa
  a.city-events__more Eще
  .city-events__body
    ul.city-events__list
      - for (var x = 0; x < 5; x++)
        li.city-events__item.city-event
          .city-event__image-container.place.place_48
            img.city-event__image
          .city-event__body
            span.city-event__name Berkeley Restaurant Week
            span.city-event__place Cinnabon
            time.city-event__dates 26 сент 2017 — 28 окт 2018