.content-photo
  .content-photo__header.clearfix
    .content-photo__image-container.place.place_48
      img.content-photo__image
    .content-photo__description
      span.content-photo__title
        a.content-photo__link Название места: 
        | загружено @? фотографий
      time.content-photo__date(datetime='2017-01-04T18:31') 4 января в 18:31
    .content-photo__subscribe
      .sticker-button
        button.button.button_subscr.sticker-button__button Подписаться
        span.sticker 667
  .content-photo__body
    .content-photo__photo-block.content-photo__photo-block_2
      .content-photo__photo-container
        img.content-photo__photo
    .content-photo__photo-block.content-photo__photo-block_2
      .content-photo__photo-block.content-photo__photo-block_3
        .content-photo__photo-container
          img.content-photo__photo
      .content-photo__photo-block.content-photo__photo-block_3
        .content-photo__photo-container
          img.content-photo__photo
  .content-photo__footer
    .activity.clearfix
      .activity__likes
        a.activity__like
        span.activity__number 138
      a.activity__share