.day-review
  .day-review__topic.topic
    span.topic__name отзыв дня
  a.city-events__more Eще
  .day-review__body
    .day-review__avatar-container.avatar.avatar_48_man
      img.day-review__avatar
    .day-review__descr
      span.day-review__name Катериночка Мяуковская
      span.day-review__info написала новый отзыв на Bellevillecafe
      span.day-review__rating.rating(
        data-rateit-readonly='true'
        data-rateit-value='3.5'
        )
      p.day-review__text.text(data-expand-words='12') 
        | Итальянский кофе, по мне одна из самых вкусных кухонь нашего города, лето ... 
        a.day-review__more.expand-text Читать полностью