.discussions
  .discussions__topic.topic
    span.topic__name обсуждения
  a.discussions__more Все обсуждения
  ul.discussions__list
    - for (var x = 0; x < 3; x++)
      li.discussions__item.discus-item
        .discus-item__avatar-container.avatar.avatar_48_man
          img.discus-item__avatar
        .discus-item__body
          span.discus-item__name Катериночка Мяуковская
          span.discus-item__info Сегодня в 19:30 к «Доставка вкусностей в любой район города» в @placename
          p.discus-item__text.text(data-expand-words='12')
            | Итальянское кафе , по мне одна из самых вкусных кухонь нашего города, лето … 
            a.discus-item__more.expand-text Читать полностью