.month-place
  .month-place__topic.topic
    span.topic__name заведение месяца
  .month-place__body
    a.month-place__photo-container
      img.month-place__photo
    .month-place__descr
      .month-place__info
        span.month-place__name Ресторан Волгоград
        span.month-place__rating.rating(
          data-rateit-readonly='true'
          data-rateit-value='3.5'
          )