.new-place
  .new-place__header
    .new-place__avatar-container.avatar.avatar_48_man
      img.new-place__avatar
    .new-place__description
      span.new-place__title
        a.new-place__author Катериночка мяуковская 
        | добавила новое место
      time.new-place__date(datetime='2017-01-04T18:31') 4 января в 18:31
  .new-place__body
    .new-place__photo-container
      img.new-place__photo
    .new-place__place-type
      img.new-place__type-img(src='img/categories/restaurant-48x48.png')
    a.new-place__place Pasta Uno
    .new-place__info
      | Кафе 
      span.new-place__splitter
      |  Волгоград, Россия
    .new-place__subscribe
      button.button.button_subscr Подписаться
  .new-place__footer
    include ../molecules/activity