/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@facebook-logo-name: 'facebook-logo';
@facebook-logo-x: 0px;
@facebook-logo-y: 100px;
@facebook-logo-offset-x: 0px;
@facebook-logo-offset-y: -100px;
@facebook-logo-width: 17px;
@facebook-logo-height: 17px;
@facebook-logo-total-width: 158px;
@facebook-logo-total-height: 117px;
@facebook-logo-image: '../img/socials.png';
@facebook-logo: 0px 100px 0px -100px 17px 17px 158px 117px '../img/socials.png' 'facebook-logo';
@facebook-name: 'facebook';
@facebook-x: 107px;
@facebook-y: 100px;
@facebook-offset-x: -107px;
@facebook-offset-y: -100px;
@facebook-width: 16px;
@facebook-height: 16px;
@facebook-total-width: 158px;
@facebook-total-height: 117px;
@facebook-image: '../img/socials.png';
@facebook: 107px 100px -107px -100px 16px 16px 158px 117px '../img/socials.png' 'facebook';
@fb-name: 'fb';
@fb-x: 50px;
@fb-y: 50px;
@fb-offset-x: -50px;
@fb-offset-y: -50px;
@fb-width: 32px;
@fb-height: 32px;
@fb-total-width: 158px;
@fb-total-height: 117px;
@fb-image: '../img/socials.png';
@fb: 50px 50px -50px -50px 32px 32px 158px 117px '../img/socials.png' 'fb';
@fb40-name: 'fb40';
@fb40-x: 0px;
@fb40-y: 0px;
@fb40-offset-x: 0px;
@fb40-offset-y: 0px;
@fb40-width: 40px;
@fb40-height: 40px;
@fb40-total-width: 158px;
@fb40-total-height: 117px;
@fb40-image: '../img/socials.png';
@fb40: 0px 0px 0px 0px 40px 40px 158px 117px '../img/socials.png' 'fb40';
@g-name: 'g+';
@g-x: 100px;
@g-y: 0px;
@g-offset-x: -100px;
@g-offset-y: 0px;
@g-width: 32px;
@g-height: 32px;
@g-total-width: 158px;
@g-total-height: 117px;
@g-image: '../img/socials.png';
@g-: 100px 0px -100px 0px 32px 32px 158px 117px '../img/socials.png' 'g+';
@gg40-name: 'gg40';
@gg40-x: 50px;
@gg40-y: 0px;
@gg40-offset-x: -50px;
@gg40-offset-y: 0px;
@gg40-width: 40px;
@gg40-height: 40px;
@gg40-total-width: 158px;
@gg40-total-height: 117px;
@gg40-image: '../img/socials.png';
@gg40: 50px 0px -50px 0px 40px 40px 158px 117px '../img/socials.png' 'gg40';
@google-name: 'google';
@google-x: 142px;
@google-y: 0px;
@google-offset-x: -142px;
@google-offset-y: 0px;
@google-width: 16px;
@google-height: 16px;
@google-total-width: 158px;
@google-total-height: 117px;
@google-image: '../img/socials.png';
@google: 142px 0px -142px 0px 16px 16px 158px 117px '../img/socials.png' 'google';
@insta-logo-name: 'insta-logo';
@insta-logo-x: 27px;
@insta-logo-y: 100px;
@insta-logo-offset-x: -27px;
@insta-logo-offset-y: -100px;
@insta-logo-width: 17px;
@insta-logo-height: 17px;
@insta-logo-total-width: 158px;
@insta-logo-total-height: 117px;
@insta-logo-image: '../img/socials.png';
@insta-logo: 27px 100px -27px -100px 17px 17px 158px 117px '../img/socials.png' 'insta-logo';
@vk-logo-name: 'vk-logo';
@vk-logo-x: 54px;
@vk-logo-y: 100px;
@vk-logo-offset-x: -54px;
@vk-logo-offset-y: -100px;
@vk-logo-width: 17px;
@vk-logo-height: 17px;
@vk-logo-total-width: 158px;
@vk-logo-total-height: 117px;
@vk-logo-image: '../img/socials.png';
@vk-logo: 54px 100px -54px -100px 17px 17px 158px 117px '../img/socials.png' 'vk-logo';
@vk-name: 'vk';
@vk-x: 100px;
@vk-y: 42px;
@vk-offset-x: -100px;
@vk-offset-y: -42px;
@vk-width: 32px;
@vk-height: 32px;
@vk-total-width: 158px;
@vk-total-height: 117px;
@vk-image: '../img/socials.png';
@vk: 100px 42px -100px -42px 32px 32px 158px 117px '../img/socials.png' 'vk';
@vk40-name: 'vk40';
@vk40-x: 0px;
@vk40-y: 50px;
@vk40-offset-x: 0px;
@vk40-offset-y: -50px;
@vk40-width: 40px;
@vk40-height: 40px;
@vk40-total-width: 158px;
@vk40-total-height: 117px;
@vk40-image: '../img/socials.png';
@vk40: 0px 50px 0px -50px 40px 40px 158px 117px '../img/socials.png' 'vk40';
@vkontakte-name: 'vkontakte';
@vkontakte-x: 81px;
@vkontakte-y: 100px;
@vkontakte-offset-x: -81px;
@vkontakte-offset-y: -100px;
@vkontakte-width: 16px;
@vkontakte-height: 16px;
@vkontakte-total-width: 158px;
@vkontakte-total-height: 117px;
@vkontakte-image: '../img/socials.png';
@vkontakte: 81px 100px -81px -100px 16px 16px 158px 117px '../img/socials.png' 'vkontakte';
@spritesheet-width: 158px;
@spritesheet-height: 117px;
@spritesheet-image: '../img/socials.png';
@spritesheet-sprites: @facebook-logo @facebook @fb @fb40 @g- @gg40 @google @insta-logo @vk-logo @vk @vk40 @vkontakte;
@spritesheet: 158px 117px '../img/socials.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
