extends ../templates/user.jade

block title
  | Dummy

block content
  .user-page__body.user-events#events
    .user-events__title Закладки 
      span.user-events__number 189
    .user-dummy
      .user-dummy__text Закладок нет