extends ../templates/user.jade

block title
  | User events

block content
  .user-page__body.user-events#events
    .user-events__title События и акции 
      span.user-events__number 189
    ul.user-events__list
      - for (var i = 0; i < 2; i++)
        li.user-events__item.user-event
          .user-event__photo-container
            img.user-event__photo
          .user-event__body
            a.user-event__title Открытие памятника Пушкину в Огенине
            .user-event__address Гуакамоле, 23 февраля 2016, сб 18:00
            .user-event__type Событие
            .user-event__social.clearfix
              .user-event__follow.sticker-button
                button.button.button_second.button_watch.sticker-button__button Следить
                span.sticker 667
              a.user-event__likes
                | 42
                .user-event__like