extends ../templates/user.jade

block title
  | User favorites

block content
  .user-page__body.user-favs#favorites
    .user-favs__title Закладки 
      span.user-favs__number 2
    ul.user-favs__list
      - for (var i = 0; i < 2; i++)
        li.user-favs__item.ufav-item
          .ufav-item__place-container.place.place_80
            img.ufav-item__place
          .ufav-item__body
            .ufav-item__title BellevilleCafe
            span.ufav-item__rating.rating_12(data-rateit-readonly='true', data-rateit-value='3.5')
            .ufav-item__type Ресторан, кафе, бар
            .ufav-item__address Волгоград, ул. Симбирцева, 2