extends ../templates/user.jade

block title
  | User favorites

block content
  .user-page__body.user-notifs#norifs
    .user-notifs__title Уведомления
    ul.user-notifs__list
      - for (var i = 0; i < 4; i++)
        li.user-notifs__item.user-notif
          .user-notif__avatar-container.avatar.avatar_48
            img.user-notif__avatar
          .user-notif__body
            .user-notif__title
              | Эдуард Пирожков 
              span.user-notif__action оценил ваш отзыв о 
              | BellevilleCafe
            time.user-notif__date(datetime='2017-01-17') 17 января 2017
            .user-notif__status
