extends ../templates/user-edit.jade

block title
  | Edit password

block content
  form.user-edit__profile
    h1.user-edit__title Настройки безопасности
    .user-edit__body.user-edit__body_password
      .user-edit__password
        .user-edit__old-pass.input-box
          label.input-box__label Изменить пароль
          input.text-input.input-box__input(type='text', placeholder='Введите свой старый пароль', pattern=".*", required)
        .user-edit__new-pass.input-box
          input.text-input.input-box__input(type='text', placeholder='Введите новый пароль', pattern=".*", required)
        .user-edit__repeat.input-box
          input.text-input.input-box__input(type='text', placeholder='Подтвердите новый пароль введя его еще раз', pattern=".*", required)
    .user-edit__foot
      button.button.button_first.user-edit__save Сохранить изменения